<div class="titulo">
  <h1>Informe:</h1>
  <hr />
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-seccion
        nombre="Crear Actividad"
        ruta="/sistema/crearActividad"
        imagen="https://static.vecteezy.com/system/resources/previews/000/356/668/original/vector-writing-icon.jpg"
        descripcion="Crea una nueva actividad para tu informe"
        estatus="N/A"
        color="crimson"
      ></app-seccion>
    </div>

    <div class="col-md-6">
      <app-seccion
        nombre="Informe de Actividades"
        ruta="/sistema/informeActividades"
        imagen="https://static.vecteezy.com/system/resources/previews/000/356/668/original/vector-writing-icon.jpg"
        descripcion="Informe de actividades realizadas"
        estatus="Incompleto"
        color="gold"
      ></app-seccion>
    </div>

    <div class="col-md-6">
      <app-seccion
        nombre="Informe de Contables"
        ruta="/sistema/informeContables"
        imagen="https://static.vecteezy.com/system/resources/previews/000/356/668/original/vector-writing-icon.jpg"
        descripcion="Informe para presentar a los contalbles"
        estatus="Completado"
        color="seagreen"
      ></app-seccion>
    </div>

    <div class="col-md-6">
      <app-seccion
        nombre="Informe de Logros"
        ruta="/sistema/informeLogros"
        imagen="https://static.vecteezy.com/system/resources/previews/000/356/668/original/vector-writing-icon.jpg"
        descripcion="Informe para presentar logros realizados"
        estatus="Completado"
        color="seagreen"
      ></app-seccion>
    </div>

    <div class="col-md-6">
      <app-seccion
        nombre="Informe de Logros"
        ruta="/sistema/informeLogros"
        imagen="https://static.vecteezy.com/system/resources/previews/000/356/668/original/vector-writing-icon.jpg"
        descripcion="Informe para presentar logros realizados"
        estatus="Incompleto"
        color="gold"
      ></app-seccion>
    </div>

    <div class="col-md-6">
      <app-seccion
        nombre="Crear Estatus"
        ruta="/sistema/crearStatus"
        imagen="https://static.vecteezy.com/system/resources/previews/000/356/668/original/vector-writing-icon.jpg"
        descripcion="Crea un nuevo estatus para tu informe"
        estatus="N/A"
        color="crimson"
      ></app-seccion>
    </div>

    <div class="col-md-6">
      <app-seccion
        nombre="Informe de Visitas"
        ruta="/sistema/informeVisitas"
        imagen="https://static.vecteezy.com/system/resources/previews/000/356/668/original/vector-writing-icon.jpg"
        descripcion="Informe para presentar visitas realizadas"
        estatus="no completado"
        color="crimson"
      ></app-seccion>
    </div>

    <div class="col-md-6">
      <app-seccion
        nombre="Informe de Visitas"
        ruta="/sistema/situacionVisita"
        imagen="https://static.vecteezy.com/system/resources/previews/000/356/668/original/vector-writing-icon.jpg"
        descripcion="Informe para presentar situaciones de visitas"
        estatus="Completado"
        color="seagreen"
      ></app-seccion>
    </div>
  </div>
</div>
