<div class="titulo">
  <h1>Informe:</h1>
  <h4>2do Trimestre del año</h4>

  <hr />
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="date" class="form-control" placeholder="Fecha del trimestre" />
      </div>

      <hr />
    </div>

    <div class="ml-5">
      <button class="btn btn-primary descargar">Descargar Informe</button>
    </div>
  </div>

  <h4>ATENCION: Quedan {{ display }} días para terminar el informe</h4>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6" *ngFor="let seccionInforme of generarSeccioninforme">
      <app-seccion-informe
        [nombre]="seccionInforme.nombre"
        [ruta]="seccionInforme.ruta"
        [imagen]="seccionInforme.imagen"
        [descripcion]="seccionInforme.descripcion"
        [estatus]="seccionInforme.estatus"
        [color]="seccionInforme.color"
      ></app-seccion-informe>
    </div>
  </div>
</div>
