<section class="content">
  <!-- Cargado información -->
  @if (cargando) {
    <app-cargando-informacion></app-cargando-informacion>
  }

  @if (!cargando) {
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-8 px-4 pt-4">
            <h3 class="card-title">Total de Parentescos ({{ parentescos.length }})</h3>
            <p>Parentescos registrados en la aplicación</p>
          </div>
          <div class="col">
            <div class="float-end p-4">
              <a class="btn btn-primary" (click)="crearParentesco()"> <i class="fas fa-plus"></i> Crear Parentesco </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped mx-auto">
            <thead>
              <tr>
                <th>Item</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              @for (parentesco of parentescos; track parentesco; let i = $index) {
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>{{ parentesco.nombre }}</td>
                  <td>
                    @if (parentesco.estado) {
                      <span class="badge badge-primary">Activo</span>
                    }
                    @if (!parentesco.estado) {
                      <span class="badge badge-danger">Deshabilitado</span>
                    }
                  </td>
                  <td>
                    @if (!!parentesco.estado) {
                      <a
                        data-toggle="tooltip"
                        data-original-title="Editar"
                        class="btn bg-info"
                        (click)="actualizarParentesco(parentesco.id)"
                        ><i class="fas fa-pencil-alt ml-1"></i
                      ></a>
                    }
                    @if (!!parentesco.estado) {
                      <a
                        data-toggle="tooltip"
                        data-original-title="Borrar"
                        class="btn bg-danger ml-1"
                        (click)="borrarParentesco(parentesco)"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    }
                    @if (!parentesco.estado) {
                      <a
                        data-toggle="tooltip"
                        data-original-title="Activar"
                        class="btn bg-secondary ml-1"
                        (click)="activarParentesco(parentesco)"
                        ><i class="fas fa-check-square"></i
                      ></a>
                    }
                  </td>
                </tr>
              }
            </tbody>
            <tfoot>
              <tr>
                <th>Item</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  }
</section>
