<div>
  <div class="title">
    <h1 class="titleText">Portal de Obreros</h1>
    <h4>Congregación Mita inc.</h4>
  </div>
  <div>
    <div class="login-wrapper center">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()" class="form-signin">
            <h1 class="mb-3 titlelogin">Iniciar Sesión</h1>

            <div class="form-floating">
              <input type="text" formControlName="login" class="form-control" placeholder="Usuario" />
            </div>

            <div class="form-floating">
              <input type="password" formControlName="password" class="form-control" placeholder="Contraseña" />
            </div>

            <div class="row">
              <div class="col-6">
                <input type="checkbox" formControlName="remember" />
                <label for="remember" class="ml-2"> Recordar </label>
              </div>
              <div class="col-6">
                <span>
                  <a class="link" href="#"><label> ¿Has olvidado tu contraseña?</label></a></span
                >
              </div>
            </div>

            <button class="btn btn-lg btn-primary submit" type="submit">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
