<div class="title"><h1 class="titleText" >Congregación Mita: Portal de Obreros</h1></div>
<div class="gradient">

<div class="login-wrapper center">
  <div class="card">
      <div class="card-body">
  
        <form class="form-signin">
      <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
      
      <div class="form-floating">
        <input type="email" ngModel class="form-control" id="login" name="login" placeholder="Correo electrónico o teléfono" ngmodel>
      </div>
  
      <div class="form-floating">
        <input type="password" ngModel class="form-control" id="password" name="password" placeholder="Contraseña" ngmodel>
      </div>

     <a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><label class="link"> ¿Has olvidado tu contraseña?</label></a> 
      <br><br>

      <button class="w-100 btn btn-lg btn-primary submit" type="submit">Iniciar Sesión</button>
      
    </form>
  </div>
  </div>
  </div>
</div>
<div class="other"></div>