.checkbox-lg .form-check-input {
  margin-right: 0rem;
}

.inputRadio {
  margin-top: 1.5em !important;
}

input.form-check-input {
  width: auto !important;
  margin-top: 0.5em;
}

.form-check .form-check-input {
  float: left;
}

label.form-check-label.form-check.checkbox-lg {
  padding-bottom: 0.5rem;
}
