// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sistemacmi-primary: mat.define-palette(mat.$indigo-palette);
$sistemacmi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sistemacmi-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sistemacmi-theme: mat.define-light-theme(
  (
    color: (
      primary: $sistemacmi-primary,
      accent: $sistemacmi-accent,
      warn: $sistemacmi-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sistemacmi-theme);

/*
Template Name: Admin Press Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

@import 'variable';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import 'app';
@import 'pages';
@import 'sidebar';
@import '../scss/icons/font-awesome/css/font-awesome.min.css';
@import '../scss/icons/simple-line-icons/css/simple-line-icons.css';
@import '../scss/icons/themify-icons/themify-icons.css';
@import '../scss/icons/material-design-iconic-font/css/materialdesignicons.min.css';
@import 'rtl/rtl';
@import 'widgets';
@import 'grid';
@import 'responsive';
@import 'spinners.scss';
@import 'animate.css';
@import 'theme-settings.scss';

// color css

@import 'colors/blue-dark';
@import 'colors/default-dark';
@import 'colors/red-dark';
@import 'colors/green-dark';
@import 'colors/purple-dark';
@import 'colors/megna-dark';
@import 'colors/megna';
@import 'colors/blue';
@import 'colors/red';
@import 'colors/green';
@import 'colors/purple';
@import 'colors/default';

// dark theme
@import 'dark';

i.fas {
  color: $white;
}

i.fa-solid {
  color: $white;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.w250 {
  width: 250px;
}

.w280 {
  width: 280px;
}

.w300 {
  width: 300px;
}

.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}

.w800 {
  width: 800px;
}

.w1200 {
  width: 1200px;
}

.obligatorio:after {
  content: '*';
  margin-left: 3px;
  color: #ef5350;
  font-weight: bold;
  display: contents;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 1.25em;
  vertical-align: top;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: listbox;
  appearance: auto;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  padding: 8px !important;
}

.form-check .form-check-input {
  float: initial;
  margin-left: -1.5em;
}

.checkbox-lg .form-check-input {
  top: 0.8rem;
  scale: 1.4;
  margin-right: 0.7rem;
}

.checkbox-lg .form-check-label {
  padding-top: 13px;
}

.checkbox-xl .form-check-input {
  top: 1.2rem;
  scale: 1.7;
  margin-right: 0.8rem;
}

.checkbox-xl .form-check-label {
  padding-top: 19px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, 0.8);
  z-index: 51;
  display: flex;
  align-items: center;
  justify-content: center;
}
