<app-cargando-informacion *ngIf="!!cargando"></app-cargando-informacion>

<div class="card animate__animated animate__fadeIn" *ngIf="!cargando">
  <div class="card-header">
    <h3 class="card-title float-left pt-4 pl-4">Total de Feligreses registrados: {{ totalUsuarios }}</h3>

    <div class="col">
      <div class="text-right mb-4 float-end">
        <a class="btn btn-primary" (click)="crearUsuario()"> <i class="fas fa-user"></i> Feligrés Nuevo </a>
      </div>
    </div>

    <div class="float-right">
      <span class="font-weight-bold">Página:</span> {{ pagina }} de {{ totalPaginas }} -
      <span class="font-weight-bold">Cantidad: </span>{{ paginaDesde + 5 }}
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="w100"># Mita</th>
            <th class="w100">Foto</th>
            <th class="w250">Nombre</th>
            <th>Correo</th>
            <th class="w100">Fecha de Nacimiento</th>
            <th>Teléfono Casa</th>
            <th>Celular</th>
            <th class="w100">Congregación</th>
            <th class="w100">Nacionalidad</th>
            <th class="w100">Estado</th>
            <th class="w280">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>
              {{ usuario.id }}
            </td>
            <td class="text-center">
              <img src="assets/images/users/perfil.png" alt="user" class="avatar pointer" />
            </td>
            <td>
              {{ usuario.primerNombre }} {{ usuario?.segundoNombre }} {{ usuario.primerApellido }}
              {{ usuario?.segundoApellido }}
            </td>
            <td>{{ usuario?.email }}</td>
            <td>{{ usuario.fechaNacimiento }}</td>

            <td>{{ usuario?.telefonoCasa }}</td>

            <td>{{ usuario?.numeroCelular }}</td>

            <td>
              <span *ngIf="!!usuario.paisId" class="badge badge-primary"> {{ buscarPais(usuario?.paisId) }} </span>
              <span *ngIf="!!usuario.nombreCongregacion" class="badge badge-danger">
                {{ usuario.nombreCongregacion }}</span
              >
              <span *ngIf="!!usuario.campoId" class="badge badge-success"> {{ buscarCampo(usuario?.campoId) }} </span>
            </td>

            <td>
              {{ usuario.nacionalidad?.nombre }}
            </td>

            <td>
              <span *ngIf="usuario.estado" class="badge badge-primary">Activo</span>
              <span *ngIf="!usuario.estado" class="badge badge-danger">Deshabilitado</span>
            </td>
            <td>
              <a
                *ngIf="!!usuario.estado"
                data-toggle="tooltip"
                data-original-title="Editar"
                class="btn bg-info"
                (click)="actualizarUsuario(usuario.id)"
                ><i class="fas fa-pencil-alt ml-1"></i
              ></a>
              <a
                *ngIf="!!usuario.estado"
                data-toggle="tooltip"
                data-original-title="Borrar"
                class="btn bg-danger ml-1"
                (click)="borrarUsuario(usuario)"
                ><i class="fas fa-trash-alt"></i
              ></a>
              <a
                *ngIf="!usuario.estado"
                data-toggle="tooltip"
                data-original-title="Activar"
                class="btn bg-secondary ml-1"
                (click)="activarUsuario(usuario)"
                ><i class="fas fa-check-square"></i
              ></a>
              <a data-toggle="tooltip" data-original-title="trascendió" class="btn bg-warning ml-1">
                <i class="fa-solid fa-x"></i
              ></a>
              <a data-toggle="tooltip" data-original-title="traslado" class="btn bg-success ml-1">
                <i class="fa fa-right-left"></i
              ></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <th class="w100"># Mita</th>
          <th class="w100">Foto</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th class="w100">Fecha de Nacimiento</th>
          <th>Teléfono Casa</th>
          <th>Celular</th>
          <th class="w100">Congregación</th>
          <th>Nacionalidad</th>
          <th class="w100">Estado</th>
          <th class="w200">Acciones</th>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-4 mb-4 ml-2 px-4">
    <button class="btn btn-secondary" (click)="cambiarPagina(-50, -1)" [disabled]="pagina == 1 ? true : false">
      Anterior
    </button>
    &nbsp;
    <button
      class="btn btn-secondary"
      (click)="cambiarPagina(50, 1)"
      [disabled]="pagina === totalPaginas ? true : false"
    >
      Siguiente
    </button>
  </div>
</div>
