<div class="row">
  <div class="col-md-6">
    <div class="p-4">
      <p class="titulo">Actualizar perfil</p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="editDiv">
      <button class="btn btn-lg btn-primary edit" type="submit" (click)="submit()">Editar</button>
    </div>
  </div>
</div>

<form [formGroup]="perfilForm">
  <div class="card-body">
    <div class="form-group">
      <label for="primer_nombre">Primer Nombre</label>
      <input
        type="text"
        class="form-control"
        id="primerNombre"
        formControlName="primerNombre"
        placeholder="Primer Nombre"
      />
    </div>
    <div class="form-group">
      <label for="segundoNombre">Segundo Nombre</label>
      <input
        type="text"
        class="form-control"
        id="segundoNombre"
        formControlName="segundoNombre"
        placeholder="Segundo Nombre"
      />
    </div>
    <div class="form-group">
      <label for="primerApellido">Primer Apellido</label>
      <input
        type="text"
        class="form-control"
        id="primerApellido"
        formControlName="primerApellido"
        placeholder="Primer Apellido"
      />
    </div>
    <div class="form-group">
      <label for="segundoApellido">Segundo Apellido</label>
      <input
        type="text"
        class="form-control"
        id="segundoApellido"
        formControlName="segundoApellido"
        placeholder="Segundo Apellido"
      />
    </div>
    <div class="form-group">
      <label for="id_tipoDocumento">Tipo de Documento</label>
      <div class="input-group mb-3">
        <select class="form-control" formControlName="id_tipoDocumento">
          <option value="" disabled>Seleccione un tipo de documento</option>
          <option value="Cédula de ciudadania"></option>
          <option value="Pasaporte"></option>
          <option value="DNI"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Número de Documento</label>
      <div class="input-group mb-3">
        <input
          type="number"
          class="form-control"
          formControlName="numeroDocumento"
          placeholder="Número de Documento"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="nacionalidad">Nacionalidad</label>
      <input
        type="text"
        class="form-control"
        id="nacionalidad"
        formControlName="nacionalidad"
        placeholder="Nacionalidad"
      />
    </div>
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <div class="input-group mb-3">
        <input type="email" class="form-control" formControlName="email" placeholder="Correo Electrónico" required />
      </div>
    </div>
    <div class="form-group">
      <label for="numeroCelular">Número de Celular</label>

      <div class="input-group mb-3">
        <input type="number" class="form-control" formControlName="numeroCelular" placeholder="Número de Celular" />
      </div>
    </div>

    <div class="form-group">
      <label for="fecha_nacimiento">Fecha de Nacimiento</label>

      <div class="input-group mb-3">
        <input
          type="date"
          class="form-control"
          formControlName="fechaNacimiento"
          placeholder="Fecha de Nacimiento"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" class="form-control" id="login" formControlName="login" placeholder="Usuario" />
    </div>

    <div class="form-group">
      <label for="login">Contraseña</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Contraseña" />
    </div>
  </div>
  <!-- /.card-body -->
</form>
