<app-cargando-informacion *ngIf="!!cargando"></app-cargando-informacion>

<div class="card animate__animated animate__fadeIn" *ngIf="!cargando">
  <div class="card-header">
    <h3 class="card-title float-left">Total de solicitudes: {{ solicitudesDeAccesos.length }}</h3>

    <div class="col">
      <div class="text-right mb-4">
        <a class="btn btn-primary" (click)="crearSolicitud()"> <i class="fas fa-user"></i> Nueva Solicitud </a>
      </div>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="w100">Item</th>
            <th>Nombre</th>
            <th>Nacionalidad</th>

            <th>Celular</th>
            <th class="w100">Email</th>
            <th>Pais</th>
            <th>Congregación</th>
            <th>Login</th>
            <th>Estado</th>
            <th class="w300">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of solicitudesDeAccesos">
            <td>
              {{ solicitud.id }}
              <p><td class="link-primary pointer" (click)="masInformacion(solicitud.id)">Ver Más</td></p>
            </td>

            <td>{{ solicitud.nombre }}</td>

            <td>Colombiana</td>

            <td>{{ solicitud.celular }}</td>

            <td>{{ solicitud.email }}</td>

            <td>Colombia</td>

            <td>Bogotá</td>

            <td>Login</td>

            <td>
              <span class="badge badge-primary">Activo</span>
              <span class="badge badge-danger">Deshabilitado</span>
            </td>

            <td>
              <a
                data-toggle="tooltip"
                data-original-title="Crear"
                class="btn bg-info"
                (click)="aceptarSolicitud(solicitud)"
                ><i class="fa fa-check"></i
              ></a>
              <a
                data-toggle="tooltip"
                data-original-title="Borrar"
                class="btn bg-danger ml-1"
                (click)="deshabilitarSolicitud()"
                ><i class="fa fa-trash"></i
              ></a>
              <!-- <a
                *ngIf="!solicitud.estado"
                data-toggle="tooltip"
                data-original-title="Activar"
                class="btn bg-secondary ml-1"
                ><i class="fa fa-trash"></i
              ></a> -->

              <a
                data-toggle="tooltip"
                data-original-title="Activar"
                class="btn bg-warning ml-1"
                (click)="desAprobarSolicitud()"
                ><i class="fa fa-x"></i
              ></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <th class="w100">id</th>
          <th>Nombre</th>
          <th>Nacionalidad</th>
          <th class="w100">Celular</th>
          <th class="w100">Email</th>
          <th>Pais</th>
          <th>Congregación</th>
          <th>Login</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-4 mb-4 ml-2">
    <button class="btn btn-secondary">Anterior</button>
    &nbsp;
    <button class="btn btn-secondary">Siguiente</button>
  </div>
</div>
