<table class="tabla">
  <tr>
    <td class="foto">
      <div class="marco">
        <div class="container">
          <div class="image-stack">
            <div class="image-stack__item image-stack__item--top pfp">
              <img class=" pfp mat-elevation-z8" src="https://upload.wikimedia.org/wikipedia/commons/5/57/Cumulus_Clouds_over_Yellow_Prairie2.jpg" alt="" />
            </div>
            <div class="image-stack__item image-stack__item--bottom">
              <img
                class="country"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/2560px-Flag_of_Colombia.svg.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </td>
    <td class="info">
      <div class="editDiv">
        <button class="btn btn-lg btn-primary edit" type="submit">Editar</button>
      </div>

      <div class="palabras">
        <p>Primer Nombre:</p>
        <p>Segundo Nombre:</p>
        <p>Primer Apellido:</p>
        <p>Segundo Apellido:</p>
        <p>Nacionalidad:</p>
        <p>Email:</p>
        <p>Número de Celular:</p>
        <p>Foto:</p>
        <p>Género:</p>
        <p>País:</p> 
      </div>
    </td>
  </tr>
</table>
