<app-informacion-usuario
  [usuario]="usuario"
  [generos]="generos"
  [estadoCivil]="estadoCivil"
  [paises]="paises"
  [rolCasa]="rolCasa"
  [congregaciones]="congregaciones"
  [campos]="campos"
  [vacunas]="vacunas"
  [dosis]="dosis"
  [nacionalidades]="nacionalidades"
  [fuenteDeIngresos]="fuenteDeIngresos"
  [gradosAcademicos]="gradosAcademicos"
  [tiposEmpleos]="tiposEmpleos"
  [ministerios]="ministerios"
  [voluntariados]="voluntariados"
  [tiposDeDocumentos]="tiposDeDocumentos"
  [generos]="generos"
  [tipoMiembros]="tipoMiembros"
  [usuarioMinisterios]="usuario.ministerios"
  [usuarioVoluntariados]="usuario.voluntariados"
  [usuarioFuenteDeIngresos]="usuario.fuenteDeIngresos"
  [codigoDeMarcadoSeparado]="false"
  (usuarioNuevo)="realizarOperacion('actualizar', $event)"
></app-informacion-usuario>
