

.width {
  width: 100%;
}



.input {
  display: none;
}

.image-upload > input {
  display: none;
}

.span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.camara {
  width: 50%;
  height: 50%;
  overflow: hidden;
  object-fit: cover;
}

.camaraDiv {
  position: absolute;
  top: 50%;
  margin-top: -80px;
  height: 75%;
  width: 100%;
}

.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.country {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.image-stack__item--top {
  grid-column: 1 / span 1;
  grid-row: 1;
  /* padding-top: 20%;  */
  z-index: 0;
}

.camaraZ {
  grid-column: 1 / span 1;
  grid-row: 1;
  /* padding-top: 20%;  */
  z-index: 1;
}

.clickZ {
  grid-column: 1 / span 1;
  grid-row: 1;
  /* padding-top: 20%;  */
  z-index: 3;
}

.image-stack__item--bottom {
  grid-column: 1 / 1;
  grid-row: 1;
  padding-left: 55%;
  padding-top: 75%;
  z-index: 2;
  width: 0%;
  height: 0%;
}

.red {
  background-color: red;
  /* padding-right: 50px; */
}

.blue {
  background-color: blue;
}
