<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Informe de visitas</h3>
      </div>
      <div class="card-body px-5">
        <div class="form mx-auto">
          <form class="form-signin" autocomplete="off" [formGroup]="visitaForm">
            <div class="form-group row">
              <label for="inputFecha" class="col-sm-4 col-form-label">Seleccione la fecha de las visita</label>
              <div class="col-sm-8">
                <input
                  type="date"
                  formControlName="fecha"
                  class="form-control"
                  id="inputFecha"
                  placeholder="Digite la fecha de la actividad"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="inputVisitasHogares" class="col-sm-4 col-form-label">Visitas a Hogares</label>
              <div class="col-sm-8">
                <input
                  type="number"
                  class="form-control"
                  formControlName="visitasHogares"
                  id="inputVisitasHogares"
                  placeholder="Número de visitas a hogares"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="inputReferidasOots" class="col-sm-4 col-form-label">Referidas a la OOTS</label>
              <div class="col-sm-8">
                <input
                  type="number"
                  class="form-control"
                  formControlName="referidasOots"
                  id="inputReferidasOots"
                  placeholder="Situaciónes de la visita refereidas a la OOTS"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="inputVisitaHospital" class="col-sm-4 col-form-label">Visitas a Hospitales</label>
              <div class="col-sm-8">
                <input
                  type="number"
                  class="form-control"
                  formControlName="visitaHospital"
                  id="inputVisitaHospital"
                  placeholder="Número de visitas realizadas en los hospitales"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="inputObservaciones" class="col-sm-4 col-form-label">Observaciones</label>
              <div class="col-sm-8">
                <textarea
                  class="form-control"
                  formControlName="observaciones"
                  id="inputObservaciones"
                  rows="5"
                  cols="30"
                >
                </textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="guardarVisita()">
          <i class="fa fa-save"></i> Guardar
        </button>
        <button type="button" class="btn btn-secondary ml-2" (click)="navegarAlInforme()">
          <i class="fa fa-arrow-left"></i> Volver al informe
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Resumen de visitas</h3>
      </div>
      <div class="card-body px-5">
        @for (visita of visitas; track visita) {
          <div>
            <li>{{ visita.fecha }} - {{ visita.observaciones }}</li>
          </div>
        }
      </div>
    </div>
  </div>
</div>
