<div class="form">
    <h2>Informe Visitas</h2>
    <form class="form-signin">
      <table>
  
        <tr>
          <td>
            <label>Fecha</label>
          </td>
          <td>
            <input type="date" ngModel class="form-control" id="" name="" placeholder="" required />
          </td>
        </tr>
  
        <tr>
          <td>
            <label>Nombre de Feligrés</label>
          </td>
          <td>
            <input type="text" ngModel class="form-control" id="" name="" placeholder="" required />
          </td>
        </tr>
  
        <tr>
          <td>
            <label>Situación</label>
          </td>
          <td>
            <input type="text" ngModel class="form-control" id="" name="" placeholder="" />
          </td>
        </tr>

        <tr>
          <td>
            <label>Intervención</label>
          </td>
          <td>
            <input type="text" ngModel class="form-control" id="" name="" placeholder="" />
          </td>
        </tr>

        <tr>
          <td>
            <label>Seguimiento</label>
          </td>
          <td>
            <input type="text" ngModel class="form-control" id="" name="" placeholder="" />
          </td>
        </tr>
  
        <tr>
          <td>
            <label>Visita Realizada</label>
          </td>
          <td>
            <select class="form-control" name="estatus" id="estatus" required>
              <option value="vigente">opcion 1</option>
              <option value="pendiente">opcion 1</option>
              <option value="activo" selected>opcion 1</option>
            </select>
          </td>
        </tr>

        <tr>
          <td>
            <label>Observaciones</label>
          </td>
          <td>
            <textarea id="" name="" ngModel class="form-control" rows="5"></textarea>
          </td>
        </tr>

      </table>
  
      <br />
      <div class="button">
        <button class="w-100 btn btn-lg btn-primary submit" type="submit">Guardar</button>
      </div>
    </form>
  </div>
  