<app-cargando-informacion *ngIf="!!cargando"></app-cargando-informacion>

<div *ngIf="!cargando && usuarios.length > 0; else sinFeligreses" class="card">
  <div class="card-header">
    <h3 class="card-title float-left pt-4 pl-4">Total de Feligreses registrados: {{ totalUsuarios }}</h3>
    <span>{{ congregacion }}</span>

    <div class="text-right mb-4 float-end">
      <a title="Exportar a Excel" class="btn btn-primary" (click)="exportExcel()">
        <i class="fa fa-download" aria-hidden="true"></i>
      </a>
      &nbsp;
      <a class="btn btn-primary" (click)="crearUsuario()"> <i class="fas fa-user"></i> Feligrés Nuevo </a>
    </div>

    <div hidden>
      <select (change)="onTableSizeChange($event)">
        <option *ngFor="let size of tableSizes">
          {{ size }}
        </option>
      </select>
    </div>
  </div>
  <div class="card-body">
    <div class="color">
      <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Buscar..." name="filtro" />
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="excel-table">
        <thead>
          <tr>
            <th># Mita</th>
            <th class="w200">Nombre</th>
            <th>Correo</th>
            <th>Fecha de Nacimiento</th>
            <th class="w200">Celular</th>
            <th>Congregación</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let usuario of usuariosFiltrados
                | paginate
                  : {
                      itemsPerPage: tableSize,
                      currentPage: pagina,
                      totalItems: totalUsuarios
                    };
              let i = index
            "
          >
            <td>
              {{ usuario.id }}
            </td>
            <td>
              {{ usuario.primerNombre }} {{ usuario?.segundoNombre }} {{ usuario.primerApellido }}
              {{ usuario?.segundoApellido }}
            </td>

            <td>
              <a *ngIf="usuario?.email" class="email" [href]="'mailto:' + usuario.email">{{ usuario.email }}</a>
              <span *ngIf="!usuario?.email">No hay correo electrónico</span>
            </td>

            <td>{{ usuario.fechaNacimiento | date }}</td>

            <td>
              <div class="contact-container">
                <span
                  >{{ usuario.numeroCelular }}
                  <i class="fas fa-chevron-circle-down toggle-icons" (click)="toggleIcons(usuario)"></i
                ></span>
                <span> </span>

                <div class="phone-number">
                  <div class="contact-icons" [ngClass]="{ show: selectedContact === usuario.id }">
                    <a
                      href="https://api.whatsapp.com/send?phone={{ usuario.numeroCelular | whatsapp }}"
                      target="_blank"
                    >
                      <i class="fab fa-whatsapp mx-2"></i>
                    </a>
                    <a href="https://t.me/{{ usuario.numeroCelular | telegram }}" target="_blank">
                      <i class="fab fa-telegram mx-2"></i>
                    </a>
                    <a href="tel:{{ usuario.numeroCelular | telegram }}" target="_blank">
                      <i class="fa fa-phone mx-2"></i>
                    </a>
                  </div>
                </div>
              </div>
            </td>

            <td>
              <span *ngIf="!!usuario.pais" class="badge badge-primary">
                {{ this.usuario.pais }}
              </span>
              <span *ngIf="!!usuario.congregacion" class="badge badge-danger"> {{ this.usuario.congregacion }}</span>
              <span *ngIf="!!usuario.campo" class="badge badge-success">
                {{ this.usuario.campo }}
              </span>
            </td>

            <td>
              <span *ngIf="usuario.estado" class="badge badge-primary">Activo</span>
              <span *ngIf="!usuario.estado" class="badge badge-danger">Deshabilitado</span>
            </td>
            <td>
              <a
                *ngIf="!!usuario.estado"
                data-toggle="tooltip"
                data-original-title="Editar"
                title="Editar Feligrés"
                class="btn btn-sm bg-info me-1 mb-1"
                (click)="actualizarUsuario(usuario.id)"
              >
                <i class="fas fa-pencil-alt ml-1"></i>
              </a>

              <a
                *ngIf="!usuario.estado"
                data-toggle="tooltip"
                data-original-title="Activar"
                title="Activar Feligrés"
                class="btn btn-sm bg-secondary me-1 mb-1"
                (click)="activarUsuario(usuario)"
              >
                <i class="fas fa-check-square"></i>
              </a>

              <a
                data-toggle="tooltip"
                data-original-title="traslado"
                class="btn btn-sm bg-success me-1 mb-1"
                title="Transladar Feligrés"
              >
                <i class="fa fa-right-left"></i>
              </a>

              <a
                data-toggle="tooltip"
                data-original-title="trascendió"
                class="btn btn-sm bg-warning me-1 mb-1"
                title="Trascendió"
              >
                <i class="fa fa-cloud"></i>
              </a>

              <a
                *ngIf="!!usuario.estado"
                data-toggle="tooltip"
                data-original-title="Borrar"
                title="Eliminar Feligrés"
                class="btn btn-sm bg-danger me-1 mb-1"
                (click)="borrarUsuario(usuario)"
              >
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <th># Mita</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Fecha de Nacimiento</th>
          <th>Celular</th>
          <th>Congregación</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tfoot>
      </table>
    </div>
  </div>

  <pagination-controls previousLabel="Anterior" nextLabel="Próximo" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>

<ng-template #sinFeligreses>
  <div class="card">
    <div class="card-body">No existen feligreses registrados bajo su jerarquía</div>
  </div>
</ng-template>
