.solicitud {
  background-color: #eef5f9;
}

.mensajeExplicativo {
  font-size: 12px;
  color: #ef5350;
}

.tituloFamiliar {
  font-size: 18px;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input,
#msform select,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0.8em;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', arial;
  color: #2c3e50;
  font-size: 13px;
  height: auto;
}

.terminosCheck {
  content: '';
  display: inline-block;
  position: absolute;
  width: 22px !important;
  height: 22px !important;
  border: 1px solid #d3cfc8 !important;
  border-radius: 0;
  margin-left: -29px;
  font-family: 'Montserrat', arial !important;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #0b65c2;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #0b65c2;
}

#msform .action-button-previous {
  width: 100px;
  background: #c5c5f1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
}

.form-check {
  text-align: left;
}

input.form-check-input {
  width: auto !important;
}

/*headings*/
.fs-title {
  font-size: 18px;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.crearSolicitud {
  padding: 2% 10%;
}

#msform input.ng-invalid.ng-touched.ng-invalid {
  border-color: #ef5350;
}

#msform select.ng-invalid.ng-touched.ng-invalid {
  border-color: #ef5350;
}

// .form-check-input {
//   margin-top: 0.2rem;
// }
