<div class="card animate__animated animate__fadeIn">
  <div class="card-header">
    <h3 class="card-title float-left">Servicios / Vigilias</h3>
  </div>
  <div class="row">
    <div class="card-body col-sm-12 col-md-12 col-lg-6 text-center">
      <h3>Servicios</h3>
      <!-- <youtube-player [videoId]="servicio" suggestedQuality="hd1080" [height]="320" [width]="600"> </youtube-player> -->
      <iframe
        title="vimeo-player"
        src="https://player.vimeo.com/video/249186549?h=97b13c4a1b"
        width="640"
        height="360"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="card-body col-sm-12 col-md-12 col-lg-6 text-center">
      <h3>Vígilia</h3>
      <youtube-player [videoId]="vigilia" suggestedQuality="hd1080" [height]="320" [width]="600"> </youtube-player>
    </div>

    <!-- <div class="card-body col-sm-12 col-md-12 col-lg-6 text-center">
      <h3>Vígilia</h3>
      <iframe
        title="vimeo-player"
        src="https://player.vimeo.com/video/249186549?h=97b13c4a1b"
        width="640"
        height="360"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div> -->
  </div>
</div>
