<div class="card animate__animated animate__fadeIn">
  <div class="card-header">
    <h3 class="card-title float-left pt-4 pl-4">servicios y Vigilias</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <!-- Servicios -->
    <app-biblioteca-multimedia
      [serviciosYvigilias]="servicios"
      [titulo]="'Servicios'"
      [tipoDeEvento]="TIPOEVENTO.SERVICIO"
    ></app-biblioteca-multimedia>

    <!-- Vigilias -->
    <app-biblioteca-multimedia
      [serviciosYvigilias]="vigilias"
      [titulo]="'Vigilias'"
      [tipoDeEvento]="TIPOEVENTO.VIGILIA"
    ></app-biblioteca-multimedia>

    <!-- Eventos -->
    <app-biblioteca-multimedia
      [serviciosYvigilias]="eventos"
      [titulo]="'Evento Especial'"
      [tipoDeEvento]="TIPOEVENTO.EVENTO_ESPECIAL"
    ></app-biblioteca-multimedia>
  </div>
</div>
