<div class="form">
    <h2>Congregación</h2>
  <form class="form-signin">
      <table>
          <tr>
              <td>
            <label>Nombre de Congregación</label>
        </td>
        <td>
            <input type="text" ngModel class="form-control" id="" name="" placeholder="" required>
        </td>
          </tr>
          
          <tr>
            <td>
          <label>Obrero</label>
      </td>
      <td>
        <input type="text" ngModel class="form-control" id="" name="" placeholder="" required autocomplete="on">
      </td>
        </tr>

      </table>

      <br>
      <div class="button">
    <button class="w-100 btn btn-lg btn-primary submit" type="submit">Registro</button>
</div>
  </form>
</div>