<section class="content">
  @if (cargando) {
  <app-cargando-informacion></app-cargando-informacion>
  } @if (!cargando) {
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="col-8 px-4 pt-4">
        <h3 class="card-title">Total de Campos ({{ campos.length }})</h3>
        <p>Campos registradas en la aplicación</p>

        <!-- empiezan botones -->
        <div class="d-flex align-items-center">
          <a class="btn btn-primary" (click)="crearCampo()"> <i class="fas fa-plus"></i> Crear Congregación </a>

          <button
            class="btn mx-1 d-flex align-items-center"
            [ngClass]="{ 'btn-secondary': isFiltrosVisibles, 'btn-outline-secondary': !isFiltrosVisibles }"
            (click)="esconderFiltros()"
          >
            <i class="fa fa-filter"></i>
            <span class="d-none d-md-inline-block ms-2">
              {{ isFiltrosVisibles ? 'Ocultar Filtros' : 'Ver Filtros' }}
            </span>
          </button>

          <!-- Botón Exportar a Excel -->
          <button
            class="btn btn-outline-primary mx-1 d-flex align-items-center"
            (click)="exportarDatosFiltrados()"
            title="Exportar a Excel"
          >
            <i class="fa fa-download" aria-hidden="true"></i>
            <span class="d-none d-md-inline-block ms-2">Exportar</span>
          </button>
        </div>

        <!-- terminan botones -->
      </div>
    </div>

    <div class="card-body">
      @if (isFiltrosVisibles) {
      <div>
        <!-- Campo de búsqueda -->
        <!-- <app-filtros (onFiltroNombre)="obtenerFiltroNombre($event)"></app-filtros> -->
        @if (congregaciones.length > 0) {
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="selectPais">País</label>
                <select
                  id="selectPais"
                  class="form-select form-control"
                  (ngModelChange)="filtrarPais($event)"
                  [(ngModel)]="originalPais"
                >
                  <option value="">Seleccione País</option>
                  @for (pais of paises; track pais) {
                  <option [ngValue]="pais">{{ pais.pais }}</option>
                  }
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="selectPais">Congregación</label>
                <select
                  id="selectPais"
                  class="form-select form-control"
                  (ngModelChange)="filtrarCongregacion($event)"
                  [(ngModel)]="originalPais"
                >
                  <option value="">Seleccione Congregación</option>
                  @for (congregacion of congregacionesFiltradas; track congregacion) {
                  <option [ngValue]="congregacion">{{ congregacion.congregacion }}</option>
                  }
                </select>
              </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <div class="form-group">
                <label>Buscar</label>
                <input
                  type="search"
                  class="form-control"
                  [(ngModel)]="filterText"
                  placeholder="Buscar campo por nombre u obreros..."
                  name="filtro"
                />
              </div>
            </div>

            <div class="col-md-3 d-flex align-items-end">
              <div class="form-group w-100">
                <button class="btn btn-primary w-100" (click)="resetFiltros()">Reset Filtros</button>
              </div>
            </div>
          </div>
        </div>
        } @else {
        <div class="card">
          <div class="card-body">No existen feligreses registrados en su congregación a cargo</div>
        </div>
        }
      </div>
      }
      <div class="table-responsive">
        <table class="table table-bordered table-striped mx-auto">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th class="col-auto text-center">Nombre</th>
              <th class="col-auto text-center">Obrero Encargado</th>
              <th class="col-auto text-center">Obrero Auxiliar</th>
              <th class="col-auto text-center">Congregación</th>
              <th class="col-auto text-center">País</th>
              <th class="col-auto text-center">Estado</th>
              <th class="col-auto text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (campo of camposFiltrados | filterByNombrePipe : 'campo' : filtroNombre; track campo; let i = $index) {
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ campo.campo }}</td>
              <td>
                {{ buscarObrero(campo.idObreroEncargado) }}
                <span class="badge text-bg-primary">{{ campo.idObreroEncargado }}</span>
              </td>
              <td>
                {{ buscarObrero(campo?.idObreroEncargadoDos) }}
                <span class="badge text-bg-primary">{{ campo?.idObreroEncargadoDos }}</span>
              </td>
              <td>
                {{ buscarCongregacion(campo.congregacion_id)['congregacion'] }}
              </td>
              <td>
                {{ buscarCongregacion(campo.congregacion_id)['pais'] }}
              </td>
              <td>
                @if (campo.estado) {
                <span class="badge badge-primary">Activo</span>
                } @if (!campo.estado) {
                <span class="badge badge-danger">Deshabilitado</span>
                }
              </td>
              <td>
                @if (!!campo.estado) {
                <a
                  data-toggle="tooltip"
                  data-original-title="Editar"
                  class="btn bg-info"
                  (click)="actualizarCampo(campo.id)"
                  ><i class="fas fa-pencil-alt ml-1"></i
                ></a>
                } @if (!!campo.estado) {
                <a
                  data-toggle="tooltip"
                  data-original-title="Borrar"
                  class="btn bg-danger ml-1"
                  (click)="borrarCampo(campo)"
                  ><i class="fas fa-trash-alt"></i
                ></a>
                } @if (!campo.estado) {
                <a
                  data-toggle="tooltip"
                  data-original-title="Activar"
                  class="btn bg-secondary ml-1"
                  (click)="activarCampo(campo)"
                  ><i class="fas fa-check-square"></i
                ></a>
                }
              </td>
            </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <th>Item</th>
              <th>Nombre</th>
              <th>Obrero Encargado</th>
              <th>Obrero Auxiliar</th>
              <th>País</th>
              <th>Congregación</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  }
</section>
