<div class="card animate__animated animate__fadeIn animate__slow" *ngIf="!cargando">
  <div class="card-header">
    <h3 class="card-title">Total de usuarios registrados: {{ totalUsuarios }}</h3>
    <div class="float-right">
      <span class="font-weight-bold">Página:</span> {{ pagina }} de {{ totalPaginas }} -
      <span class="font-weight-bold">Cantidad: </span>{{ paginaDesde + 5 }}
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="w100">Foto</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th class="w100">Fecha de Nacimiento</th>
            <th>Celular</th>
            <th class="w100">Congregación</th>
            <th>Nacionalidad</th>
            <th class="w100">Estado</th>
            <th class="w100">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td class="text-center">
              <!-- <img [src]="usuario.fotoUrl" alt="{{ usuario.primerNombre }}" /> -->

              <img src="assets/images/users/perfil.png" alt="user" class="avatar pointer" />
            </td>
            <td>
              {{ usuario.primerNombre }} {{ usuario.segundoNombre }} {{ usuario.primerApellido }}
              {{ usuario.segundoApellido }}
            </td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.fechaNacimiento }}</td>

            <td>{{ usuario.numeroCelular }}</td>

            <td>
              <span class="badge badge-primary"> Bogotá </span>
            </td>

            <td>
              {{ usuario.nacionalidad }}
            </td>

            <td>
              <span *ngIf="usuario.estado" class="badge badge-primary">Activo</span>
              <span *ngIf="!usuario.estado" class="badge badge-danger">Deshabilitado</span>
            </td>
            <td class="text-center">
              <a data-toggle="tooltip" data-original-title="Editar" class="btn bg-info"><i class="fa fa-pencil"></i></a>

              <a
                data-toggle="tooltip"
                data-original-title="Borrar"
                class="btn bg-danger"
                (click)="borrarUsuario(usuario)"
                ><i class="fa fa-trash"></i
              ></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <th class="w100">Foto</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th class="w100">Fecha de Nacimiento</th>
          <th>Celular</th>
          <th class="w100">Congregación</th>
          <th>Nacionalidad</th>
          <th class="w100">Estado</th>
          <th class="w100">Acciones</th>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-4 mb-4 ml-2">
    <button class="btn btn-secondary" (click)="cambiarPagina(-5, -1)" [disabled]="pagina == 1 ? true : false">
      Anterior
    </button>
    &nbsp;
    <button class="btn btn-secondary" (click)="cambiarPagina(5, 1)" [disabled]="pagina === totalPaginas ? true : false">
      Siguiente
    </button>
  </div>
</div>
