<header class="topbar">
  <nav class="d-flex top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand"
        ><b
          ><img src="assets/images/escudo-CMI.png" alt="homepage" class="dark-logo" /><img
            src="assets/images/escudo-CMI.png"
            alt="Congregación Mita INC"
            class="light-logo" /></b
      ></a>
    </div>

    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->

      <ul class="navbar-nav me-auto mt-md-0">
        <!-- This is  -->
        <li (click)="toggleSidebar.emit()" class="nav-item m-l-10">
          <a class="nav-link sidebartoggler waves-effect waves-dark" href="javascript:void(0)"
            ><i class="ti-menu"></i
          ></a>
        </li>

        <li class="nav-item m-l-10 pointer" (click)="redirigirAInicio()">
          <span class="nav-link itemMenu"><i class="fa fa-home"></i> Inicio</span>
        </li>
      </ul>

      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->

      <ul class="navbar-nav ms-auto my-lg-0">
        <!-- ============================================================== -->
        <!-- Search -->
        <!-- ============================================================== -->
        <li class="nav-item hidden-sm-down search-box">
          <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
            <i class="ti-search"></i>
          </a>
          <form class="app-search ng-untouched ng-pristine ng-valid">
            <input type="text" class="form-control" placeholder="Search & enter" />
            <a class="srh-btn">
              <i class="ti-close"></i>
            </a>
          </form>
        </li>
        <!-- ============================================================== -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
          <a
            ngbDropdownToggle
            class="dropdown-toggle nav-link text-muted waves-effect waves-dark"
            href="javascript:void(0)"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img [src]="fotoPerfil" [alt]="nombre" class="profile-pic" />
          </a>

          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="text-center">
                    <div class="u-img">
                      <img [src]="fotoPerfil" [alt]="nombre" />
                    </div>
                  </div>
                  <div class="u-text mt-2">
                    <h4>{{ nombre }}</h4>
                    <a class="informacion" href="mailto:{{ email }}">
                      <p class="text-muted">{{ email }}</p></a
                    >
                    <div *ngIf="usuario">
                      <a class="informacion" href="tel:{{ numeroCelular }}">
                        <p class="text-muted">{{ numeroCelular }}</p></a
                      >
                      <a class="informacion">
                        <p class="text-muted"><b>Número Mita: </b>{{ usuario?.id }}</p></a
                      >
                    </div>
                  </div>
                </div>
              </li>
              <div *ngIf="usuario">
                <li role="separator" class="divider"></li>
                <li>
                  <a [routerLink]="[Rutas.PERFIL, usuario.id]"> <i class="ti-user"></i> Perfil</a>
                </li>
              </div>
              <li role="separator" class="divider"></li>
              <li>
                <a [routerLink]="[Rutas.RESET_PASSWORD_USUARIO]"> <i class="fa fa-lock"></i> Cambiar Contraseña</a>
              </li>
              <li role="separator" class="divider"></li>
              <div *ngIf="usuario">
                <li>
                  <a href="#"> <i class="ti-wallet"></i> Mis Informes</a>
                </li>

                <li role="separator" class="divider"></li>
                <li>
                  <a href="#"> <i class="ti-settings"></i> Configuración</a>
                </li>
                <li role="separator" class="divider"></li>
              </div>
              <li>
                <a (click)="logout()" class="pointer"> <i class="fa fa-power-off"></i> Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
