<!-- <div class="titulo">
  <h1>Informe:</h1>
  <h4>{{ fraccion }}</h4>

  <hr />
  <div class="row">
    <div class="col-md-4">
      <label>Seleccione La fecha del informe</label>
      <div class="form-group">
        <input
          type="date"
          (change)="seleccionarTrimestre()"
          [(ngModel)]="fechaSeleccionada"
          class="form-control"
          placeholder="Fecha del trimestre"
        />
      </div>

      <hr />
    </div>
    <div class="col-md-4">
      <label>Seleccione un Obrero</label>
      <select [(ngModel)]="obreroSeleccionado" class="form-control" (change)="seleccionarObrero(obreroSeleccionado)">
        <option value="" disabled>Obrero no seleccionado</option>
        <option *ngFor="let obrero of obreros" [ngValue]="obrero">
          {{ obrero.primerNombre }} {{ obrero.segundoNombre }} {{ obrero.primerApellido }}
          {{ obrero.segundoApellido }}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      <label>Seleccione una Congregación</label>
      <select class="form-control">
        <option value="" disabled>Seleccione una congregación</option>
        <option *ngFor="let congregacion of congregaciones">
          {{ congregacion.congregacion }}
        </option>
      </select>
    </div>

    <div class="ml-5">
      <button (click)="makePDF()" class="btn btn-primary descargar">Descargar Informe</button>
    </div>
  </div>
  <br />

  <div class="pretty">
    <div id="content" class="fontColor p-5" #content>
      <div class="header">
        <p class="title">Congregación Mita Inc.</p>
        <p>({{ paisObrero }})</p>

        <p class="heading">Informe Trimestral</p>
        <table class="tableCenter">
          <tr>
            <td>
              <p class="heading">Trimestre {{ fechaSeleccionada.slice(0, 4) }} :</p>
            </td>
            <td class="info">{{ trimestre }}</td>
          </tr>
          <tr>
            <td>
              <p class="heading">Obrero/a:</p>
            </td>
            <td class="info">
              {{ obreroSeleccionado?.primerNombre }} {{ obreroSeleccionado?.segundoNombre }}
              {{ obreroSeleccionado?.primerApellido }} {{ obreroSeleccionado?.segundoApellido }}
            </td>
          </tr>
          <tr>
            <td>
              <p class="heading">Fecha de Informe:</p>
            </td>
            <td class="info">{{ fechaActual.toString().slice(0, 15) }}</td>
          </tr>
        </table>
        <hr />
      </div>
      <div class="body bodyMargin">
        <p class="heading spacingHeading">A. RESUMEN DE SERVICIOS, ORACIONES Y VIGILIAS REALIZADAS:</p>

        <table class="tabla">
          <thead>
            <tr>
              <th *ngFor="let head of servicios[0] | keys">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr (change)="seleccionarTrimestre()" *ngFor="let actividad of servicios">
              <td (change)="seleccionarTrimestre()" *ngFor="let list of actividad | keys">{{ actividad[list] }}</td>
            </tr>
          </tbody>
          <tr *ngIf="sumatoriaVisible">
            <td class="bold">Total de dinero recaudado:</td>
            <td>{{ sumatoriaActividadesEnServicios }}</td>
          </tr>
        </table>

        <p class="heading spacingHeading">B. RESUMEN DE VISITAS REALIZADAS A LOS/AS FELIGRESES:</p>

        <table class="tabla">
          <thead>
            <tr>
              <th *ngFor="let head of visitas[0] | keys">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr (change)="seleccionarTrimestre()" *ngFor="let visita of visitas">
              <td (change)="seleccionarTrimestre()" *ngFor="let list of visita | keys">{{ visita[list] }}</td>
            </tr>
          </tbody>
        </table>

        <p class="heading spacingHeading">C. SITUACIONES ENCONTRADAS DURANTE LAS VISITAS:</p>

        <table class="tabla">
          <thead>
            <tr>
              <th *ngFor="let head of situacionVisita[0] | keys">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sv of situacionVisita">
              <td *ngFor="let list of sv | keys">{{ sv[list] }}</td>
            </tr>
          </tbody>
        </table>

        <p class="heading spacingHeading">D. ACTIVIDADES ESPECIALES REALIZADAS:</p>

        <table class="tabla">
          <thead>
            <tr>
              <th *ngFor="let head of especiales[0] | keys">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sv of especiales">
              <td *ngFor="let list of sv | keys">{{ sv[list] }}</td>
            </tr>
          </tbody>

          <tr *ngIf="sumatoriaVisible">
            <td class="bold">Total de dinero recaudado:</td>
            <td>{{ sumatoriaActividadesEspeciales }}</td>
          </tr>
        </table>

        <p class="heading spacingHeading">E. ACTIVIDADES RELACIONADAS AL ASPECTO ESPIRITUAL:</p>

        <table class="tabla">
          <thead>
            <tr>
              <th *ngFor="let head of espirituales[0] | keys">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sv of espirituales">
              <td *ngFor="let list of sv | keys">{{ sv[list] }}</td>
            </tr>
          </tbody>
          <tr *ngIf="sumatoriaVisible">
            <td class="bold">Total de dinero recaudado:</td>
            <td>{{ sumatoriaActividadesEspirituales }}</td>
          </tr>
        </table>

        <p class="heading spacingHeading">F. REUNIONES:</p>

        <table class="tabla">
          <thead>
            <tr>
              <th *ngFor="let head of reuniones[0] | keys">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sv of reuniones">
              <td *ngFor="let list of sv | keys">{{ sv[list] }}</td>
            </tr>
          </tbody>
          <tr *ngIf="sumatoriaVisible">
            <td class="bold">Total de dinero recaudado:</td>
            <td>{{ sumatoriaActividadesEnReuniones }}</td>
          </tr>
        </table>

        <p class="heading spacingHeading">G. ASPECTOS CONTABLES:</p>

        <table class="tabla">
          <thead>
            <tr>
              <th *ngFor="let head of aspectoContable[0] | keys">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ac of aspectoContable">
              <td *ngFor="let list of ac | keys">{{ ac[list] }}</td>
            </tr>
          </tbody>
        </table>

        <p class="heading spacingHeading">H. LOGROS OBTENIDOS:</p>

        <table class="tabla">
          <thead>
            <tr>
              <th *ngFor="let head of logros[0] | keys">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let logro of logros">
              <td *ngFor="let list of logro | keys">{{ logro[list] }}</td>
            </tr>
          </tbody>
        </table>

        <p class="heading spacingHeading">J. METAS PARA EL PRÓXIMO TRIMESTRE:</p>

        <table class="tabla">
          <thead>
            <tr>
              <th *ngFor="let head of metas[0] | keys">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let meta of metas">
              <td *ngFor="let list of meta | keys">{{ meta[list] }}</td>
            </tr>
          </tbody>
        </table>
        <br />
        <div class="">
          <p>Informe generado por: {{ primerNombre }} {{ segundoNombre }} {{ primerApellido }} {{ segundApellido }}</p>
          <p>Fecha Actual: {{ fechaActual }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
