<div class="form">
    <h2>Campo</h2>
  <form class="form-signin">
      <table>
          <tr>
              <td>
            <label>Nombre del Campo</label>
        </td>
        <td>
            <input type="text" ngModel class="form-control" id="" name="" placeholder="" required>
        </td>
          </tr>
          
          <tr>
            <td>
          <label>Dirección</label>
      </td>
      <td>
        <input type="text" ngModel class="form-control" id="" name="" placeholder="">
      </td>
        </tr>

        <tr>
            <td>
          <label>Teléfono</label>
      </td>
      <td>
        <input type="text" ngModel class="form-control" id="" name="" placeholder="">
      </td>
        </tr>

        <tr>
            <td>
          <label>Teléfono</label>
      </td>
      <td>
        <input type="text" ngModel class="form-control" id="" name="" placeholder="">
      </td>

        </tr>
        
        <tr>
            <td>
          <label>Congregación</label>
      </td>
      <td>
        <select class="form-control" name="congregacion" id="congregacion" required>
            <option value="pr">Puerto Rico</option>
            <option value="colombia">Colombia</option>
            <option value="estados" selected>Estados Unidos</option>
          </select>
      </td>
        </tr>

        <tr>
            <td>
          <label>Obrero a Cargo</label>
      </td>
      <td>
        <select class="form-control" name="congregacion" id="congregacion" required>
            <option value="mindy">Mindy Carrion</option>
            <option value="gladys">Gladys Acosta</option>
            <option value="luis" selected>Luis Daniel</option>
          </select>
      </td>
        </tr>

      </table>

      <br>
      <div class="button">
    <button class="w-100 btn btn-lg btn-primary submit" type="submit">Registro</button>
</div>
  </form>
</div>