<div class="form">
    <h2>Nuevo Estatus</h2>
    <form class="form-signin">
      <table>
        <tr>
          <td>
            <label>Nombre</label>
          </td>
          <td>
            <input type="text" ngModel class="form-control" id="" name="" placeholder="" required />
          </td>
        </tr>
      </table>
  
      <br />
      <div class="button">
        <button class="w-100 btn btn-lg btn-primary submit" type="submit">Guardar</button>
      </div>
    </form>
  </div>
  