<div class="form">
    <h2>Editar Usuario</h2>
  <form class="form-signin">
      <table>
          <tr>
              <td>
            <label>Primer Nombre</label>
        </td>
        <td>
            <input type="text" ngModel class="form-control" id="" name="" placeholder="" required>
        </td>
          </tr>
          
          <tr>
            <td>
          <label>Segundo Nombre</label>
      </td>
      <td>
          <input type="text" ngModel class="form-control" id="" name="" placeholder="">
      </td>
        </tr>

        <tr>
            <td>
          <label>Primer Apellido</label>
      </td>
      <td>
          <input type="text" ngModel class="form-control" id="" name="" placeholder="" required>
      </td>
        </tr>

        <tr>
            <td>
          <label>Segundo Apellido</label>
      </td>
      <td>
          <input type="text" ngModel class="form-control" id="" name="" placeholder="">
      </td>
        </tr>

        <tr>
            <td>
          <label>Nacionalidad</label>
      </td>
      <td>
          <input type="text" ngModel class="form-control" id="" name="" placeholder="" required>
      </td>
        </tr>

        <tr>
            <td>
          <label>Email</label>
      </td>
      <td>
          <input type="email" ngModel class="form-control" id="" name="" placeholder="" required>
      </td>
        </tr>

        <tr>
            <td>
          <label>Número de Celular</label>
      </td>
      <td>
          <input type="text" ngModel class="form-control" id="" name="" placeholder="" required>
      </td>
        </tr>

        <tr>
            <td>
          <label>Foto</label>
      </td>
      <td>
        <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Escoger</label>
            </div>
          </div>
      </td>
        </tr>

        <tr>
            <td>
          <label>Género</label>
      </td>
      <td>
        <select class="form-control" name="gender" id="gender" required>
            <option value="female">F</option>
            <option value="male">M</option>
            <option value="other" selected>N/A</option>
          </select>
      </td>
        </tr>

        <tr>
            <td>
          <label>País</label>
      </td>
      <td>
        <select class="form-control" name="country" id="country" required>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Colombia">Colombia</option>
            <option value="Estados Unidos">Estados Unidos</option>
          </select>
      </td>
        </tr>

      </table>

      <br>
      <div class="button">
    <button class="w-100 btn btn-lg btn-primary submit" (click)="submit()" type="submit">Registro</button>
</div>
  </form>
</div>