<div class="card">
  <div class="card-header">
    <h3 class="card-title float-left pt-4 pl-4">Servicios y Vigilias</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <!-- Servicios -->
    <app-biblioteca-multimedia
      [serviciosYvigilias]="servicios"
      [tipoDeEvento]="TIPOEVENTO.SERVICIO"
    ></app-biblioteca-multimedia>

    <!-- Vigilias -->
    <app-biblioteca-multimedia
      [serviciosYvigilias]="vigilias"
      [tipoDeEvento]="TIPOEVENTO.VIGILIA"
    ></app-biblioteca-multimedia>

    <!-- Eventos -->
    <app-biblioteca-multimedia
      [serviciosYvigilias]="eventos"
      [tipoDeEvento]="TIPOEVENTO.EVENTO_ESPECIAL"
    ></app-biblioteca-multimedia>
  </div>
</div>
