<div class="container-fluid">
  <div class="row no-gutters justify-content-start">
    <ng-container *ngFor="let seccionHome of generarSeccionHome">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *appPermisos="seccionHome.role">
        <app-seccion-home
          [nombreSeccion]="seccionHome.nombreSeccion"
          [nombreResponsable]="seccionHome.nombreResponsable"
          [email]="seccionHome.email"
          [logo]="seccionHome.logo"
          [ruta]="seccionHome.ruta"
        ></app-seccion-home>
      </div>
    </ng-container>
  </div>
</div>

<ng-container
  *appPermisos="[
    ROLES.ADMINISTRADOR,
    ROLES.SUPERVISOR,
    ROLES.SUPERVISOR_LOCAL,
    ROLES.OBRERO_CIUDAD,
    ROLES.ADMINISTRADOR_MULTIMEDIA,
    ROLES.MULTIMEDIA
  ]"
>
  <app-servicios-en-vivo [servicios]="servicio" [tipoDeEvento]="TIPOEVENTO_ID.SERVICIO"></app-servicios-en-vivo>
</ng-container>
