<div class="solicitud">
  <div class="row crearSolicitud">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Crear Solicitud</h3>
        </div>
        <div class="card-body p-4">
          <div class="alert alert-primary" role="alert">
            El solicitante accede libre y voluntariamente a compartir la información requerida y certifica que es real y
            válida, de ninguna forma proporcionará información falsa, en tal caso su solicitud podría ser descartada
          </div>

          <form id="msform" autocomplete="off" [formGroup]="solicitudForm" (submit)="crearSolicitud()">
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="input-group obligatorio">Nombre</label>
                <input
                  type="text"
                  formControlName="nombre"
                  name="nombre"
                  class="form-control"
                  placeholder="Nombre Completo"
                />

                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('nombre').hasError('required') && solicitudForm.get('nombre').touched"
                >
                  El nombre del feligrés es requerida.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('nombre').hasError('minlength') && solicitudForm.get('nombre').touched"
                >
                  El nombre del feligrés no tiene la longitud mínima permitida.
                </small>
              </div>

              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="input-group obligatorio">Nacionalidad </label>
                <input
                  type="text"
                  placeholder="Buscar la nacionalidad"
                  formControlName="nacionalidad"
                  [matAutocomplete]="autoNacionalidad"
                  class="form-control"
                  (keypress)="buscarNacionalidad('nacionalidad')"
                />
                <mat-autocomplete #autoNacionalidad="matAutocomplete">
                  <mat-option *ngFor="let item of letrasFiltrarNacionalidad | async" [value]="item.nombre">
                    {{ item.nombre }}
                  </mat-option>
                </mat-autocomplete>

                <small
                  class="form-text text-danger"
                  *ngIf="
                    solicitudForm.get('nacionalidad').hasError('required') && solicitudForm.get('nacionalidad').touched
                  "
                >
                  La nacionalidad del feligrés es requerida.
                </small>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="input-group obligatorio">Dirección de residencia</label>
                <input type="text" formControlName="direccion" class="form-control" placeholder="Dirección" />
                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('direccion').hasError('required') && solicitudForm.get('direccion').touched"
                >
                  La dirección de residencia del feligrés es requerida.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('direccion').hasError('minlength') && solicitudForm.get('direccion').touched"
                >
                  La dirección de residencia del feligrés no tiene la longitud mínima permitida.
                </small>
              </div>

              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="input-group obligatorio">Ciudad</label>
                <input type="text" formControlName="ciudad" class="form-control" placeholder="Ciudad" />
                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('ciudad').hasError('required') && solicitudForm.get('ciudad').touched"
                >
                  La ciudad de residencia del feligrés es requerida.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('ciudad').hasError('minlength') && solicitudForm.get('ciudad').touched"
                >
                  La ciudad de residencia del feligrés no tiene la longitud mínima permitida.
                </small>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-4">
                <label class="input-group">Departamento o Estado</label>
                <input type="text" formControlName="departamento" class="form-control" placeholder="Departamento" />
                <small
                  class="form-text text-danger"
                  *ngIf="
                    solicitudForm.get('departamento').hasError('minlength') && solicitudForm.get('departamento').touched
                  "
                >
                  El departamento o estado de residencia del feligrés no tiene la longitud mínima permitida.
                </small>
              </div>

              <div class="form-group col-sm-12 col-md-6 col-lg-4">
                <label class="input-group">Código postal <span class="mensajeExplicativo"> (Si aplica)</span></label>
                <input type="text" formControlName="codigoPostal" class="form-control" placeholder="Código Postal" />
                <small
                  class="form-text text-danger"
                  *ngIf="
                    solicitudForm.get('codigoPostal').hasError('minlength') && solicitudForm.get('codigoPostal').touched
                  "
                >
                  El código postal del feligrés no tiene la longitud mínima permitida.
                </small>
              </div>

              <div class="form-group col-sm-12 col-md-6 col-lg-4">
                <label class="input-group obligatorio">País </label>
                <input
                  type="text"
                  placeholder="Buscar el pais de residencia"
                  formControlName="pais"
                  [matAutocomplete]="autoPais"
                  class="form-control"
                  (keypress)="buscarNacionalidad('pais')"
                />
                <mat-autocomplete #autoPais="matAutocomplete">
                  <mat-option *ngFor="let pais of letrasFiltrarNacionalidad | async" [value]="pais.nombre">
                    {{ pais.nombre }}
                  </mat-option>
                </mat-autocomplete>

                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('pais').hasError('required') && solicitudForm.get('pais').touched"
                >
                  El país de la dirección es requerido.
                </small>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-4">
                <label class="input-group obligatorio">Celular</label>
                <ngx-intl-tel-input
                  [cssClass]="'form-control'"
                  [preferredCountries]="paisesPreferidos"
                  [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="true"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[buscarPais.Iso2, buscarPais.Name]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="paisISO.PuertoRico"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  [separateDialCode]="codigoDeMarcadoSeparado"
                  [numberFormat]="formatoNumeroTelefonico.International"
                  name="celular"
                  formControlName="celular"
                >
                </ngx-intl-tel-input>

                <small
                  class="form-text text-danger"
                  *ngIf="
                    !solicitudForm.get('celular').hasError('required') &&
                    solicitudForm.get('celular').invalid &&
                    solicitudForm.get('celular').touched
                  "
                >
                  El número de celular no es válido
                </small>
                <small class="form-text text-primary" *ngIf="!solicitudForm.get('celular').invalid">
                  El número de celular es válido <i class="fa-solid fa-thumbs-up"></i>
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('celular').hasError('required') && solicitudForm.get('celular').touched"
                >
                  El número de celular del feligrés es requerido.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('celular').hasError('minlength') && solicitudForm.get('celular').touched"
                >
                  El número de celular del feligrés no tiene la longitud mínima permitida.
                </small>
              </div>

              <div class="form-group col-sm-12 col-md-6 col-lg-4">
                <label class="input-group">Teléfono de la Casa</label>
                <ngx-intl-tel-input
                  [cssClass]="'form-control'"
                  [preferredCountries]="paisesPreferidos"
                  [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="true"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[buscarPais.Iso2, buscarPais.Name]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="paisISO.PuertoRico"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  [separateDialCode]="codigoDeMarcadoSeparado"
                  [numberFormat]="formatoNumeroTelefonico.National"
                  name="telefono"
                  formControlName="telefono"
                >
                </ngx-intl-tel-input>
              </div>
              <div class="form-text text-danger" *ngIf="solicitudForm.get('telefono').invalid">
                Digitar el número de teléfono con el indicativo de la región local
              </div>
              <small
                class="form-text text-danger"
                *ngIf="solicitudForm.get('telefono').invalid && solicitudForm.get('telefono').touched"
              >
                El número de teléfono de la casa no es válido
              </small>
              <small
                class="form-text text-primary"
                *ngIf="!solicitudForm.get('telefono').invalid && solicitudForm.get('telefono').value"
              >
                El número de teléfono de la casa es válido <i class="fa-solid fa-thumbs-up"></i>
              </small>
              <small
                class="form-text text-danger"
                *ngIf="solicitudForm.get('telefono').hasError('minlength') && solicitudForm.get('telefono').touched"
              >
                El número de teléfono de la casa del feligrés no tiene la longitud mínima permitida.
              </small>

              <div class="form-group col-sm-12 col-md-6 col-lg-4">
                <label class="input-group obligatorio">Correo Electrónico</label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="Correo Electrónico"
                  (blur)="buscarCorreo(txtEmail.value)"
                  #txtEmail
                />
                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('email').hasError('required') && solicitudForm.get('email').touched"
                >
                  El correo electrónico del feligrés es requerido.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('email').hasError('email') && solicitudForm.get('email').touched"
                >
                  El valor ingresado no corresponde a un correo electrónico.
                </small>
                <small
                  class="form-text text-danger"
                  *ngIf="solicitudForm.get('email').hasError('minlength') && solicitudForm.get('email').touched"
                >
                  El correo electrónico del feligrés no tiene la longitud mínima permitida.
                </small>

                <small class="form-text text-danger" *ngIf="!!mensajeBuscarCorreo">
                  {{ mensajeBuscarCorreo }}
                </small>

                <small
                  class="form-text text-primary"
                  *ngIf="
                    !solicitudForm.get('email').invalid && solicitudForm.get('email').touched && !mensajeBuscarCorreo
                  "
                >
                  El correo electrónico es válido <i class="fa-solid fa-thumbs-up"></i>
                </small>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="input-group obligatorio">¿Eres miembro de la Congregación?</label>
                <div class="form-check checkbox-lg">
                  <input
                    value="1"
                    class="form-check-input"
                    type="radio"
                    name="miembroCongregacion"
                    formControlName="miembroCongregacion"
                  />
                  <label class="form-check-label"> Sí </label>
                </div>
                <div class="form-check checkbox-lg">
                  <input
                    value="0"
                    class="form-check-input"
                    type="radio"
                    name="miembroCongregacion"
                    formControlName="miembroCongregacion"
                  />
                  <label class="form-check-label"> No </label>
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="input-group obligatorio">¿Estás cerca a alguna congregación?</label>

                <div class="form-check checkbox-lg">
                  <input
                    class="form-check-input"
                    type="radio"
                    formControlName="estaCercaACongregacion"
                    [value]="true"
                  />
                  <label class="form-check-label"> Sí </label>
                </div>
                <div class="form-check checkbox-lg">
                  <input
                    class="form-check-input"
                    type="radio"
                    formControlName="estaCercaACongregacion"
                    [value]="false"
                    [checked]="true"
                  />
                  <label class="form-check-label"> No </label>
                </div>
              </div>

              <div class="row">
                <div *ngIf="!!estaCercaACongregacion()" class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group obligatorio">Congregación cercana</label>
                  <input
                    type="text"
                    placeholder="Buscar la congregación más cercana"
                    formControlName="congregacionCercana"
                    [matAutocomplete]="autoCongregacion"
                    class="form-control"
                    (keypress)="buscarCongregacion('congregacionCercana')"
                  />

                  <mat-autocomplete #autoCongregacion="matAutocomplete">
                    <mat-option
                      *ngFor="let congregacion of letrasFiltrarCongregacion | async"
                      [value]="congregacion.congregacion"
                    >
                      {{ congregacion.congregacion }}
                    </mat-option>
                  </mat-autocomplete>
                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('congregacionCercana').hasError('required') &&
                      solicitudForm.get('congregacionCercana').touched
                    "
                  >
                    La congregación del feligrés es requerida.
                  </small>
                </div>
                <hr />
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                  <label class="input-group obligatorio"
                    >Especifique la razón por la cual desea ver los servicio por internet</label
                  >

                  <select
                    class="form-select"
                    formControlName="razonSolicitud_id"
                    (change)="tipoDeSolicitud(txtRazonsolicitud.value)"
                    #txtRazonsolicitud
                  >
                    <option value="" disabled>Seleccione una opción</option>
                    <option *ngFor="let razonSolicitud of razonSolicitudes" [value]="razonSolicitud.id">
                      {{ razonSolicitud.solicitud }}
                    </option>
                  </select>
                </div>

                <div
                  *ngIf="txtRazonsolicitud.value == RAZON_SOLICITUD_ID.OTRA"
                  class="form-group col-sm-12 col-md-6 col-lg-6"
                >
                  <label class="input-group">Específique la razón</label>
                  <input type="tetx" class="form-control" formControlName="otraRazonSolicitud" required />
                </div>
              </div>

              <div *ngIf="txtRazonsolicitud.value == RAZON_SOLICITUD_ID.ESTUDIANTE" class="row">
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group obligatorio">País donde está estudiando </label>
                  <input
                    type="text"
                    placeholder="País donde está estudiando"
                    formControlName="paisDondeEstudia"
                    [matAutocomplete]="autoPaisDondeEstudia"
                    class="form-control"
                    (keypress)="buscarNacionalidad('paisDondeEstudia')"
                  />
                  <mat-autocomplete #autoPaisDondeEstudia="matAutocomplete">
                    <mat-option *ngFor="let item of letrasFiltrarNacionalidad | async" [value]="item.nombre">
                      {{ item.nombre }}
                    </mat-option>
                  </mat-autocomplete>

                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('paisDondeEstudia').hasError('required') &&
                      solicitudForm.get('paisDondeEstudia').touched
                    "
                  >
                    Por favor diligencie el país donde estudia el feligrés.
                  </small>
                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('paisDondeEstudia').hasError('minlength') &&
                      solicitudForm.get('paisDondeEstudia').touched
                    "
                  >
                    El país donde estudia el feligrés no tiene la longitud mínima permitida.
                  </small>
                </div>

                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group">Ciudad donde está estudiando</label>
                  <input
                    type="tetx"
                    class="form-control"
                    formControlName="ciudadDondeEstudia"
                    placeholder="Ciudad donde está estudiando"
                    required
                  />

                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('ciudadDondeEstudia').hasError('required') &&
                      solicitudForm.get('ciudadDondeEstudia').touched
                    "
                  >
                    Por favor diligencie la ciudad donde estudia el feligrés.
                  </small>
                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('ciudadDondeEstudia').hasError('minlength') &&
                      solicitudForm.get('ciudadDondeEstudia').touched
                    "
                  >
                    La ciudad donde estudia el feligrés no tiene la longitud mínima permitida.
                  </small>
                </div>

                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group obligatorio">Tipo de estudio</label>

                  <select class="form-select" formControlName="tipoDeEstudio_id">
                    <option value="" disabled>Seleccione una opción</option>
                    <option *ngFor="let tipoEstudio of tipoEstudios" [value]="tipoEstudio.id">
                      {{ tipoEstudio.estudio }}
                    </option>
                  </select>
                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('tipoDeEstudio_id').hasError('required') &&
                      solicitudForm.get('tipoDeEstudio_id').touched
                    "
                  >
                    Por favor seleccione el tipo de estudio.
                  </small>
                </div>

                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group">Duración del periodo de estudio</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="duracionDelPeriodoDeEstudio"
                    placeholder="Duración del periodo de estudio"
                    required
                  />
                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('duracionDelPeriodoDeEstudio').hasError('required') &&
                      solicitudForm.get('duracionDelPeriodoDeEstudio').touched
                    "
                  >
                    Por favor diligencie la duración del estudio.
                  </small>
                </div>
              </div>

              <div *ngIf="txtRazonsolicitud.value == RAZON_SOLICITUD_ID.FUERZAS_ARMADAS" class="row">
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group">Base Militar</label>
                  <input
                    type="tetx"
                    class="form-control"
                    formControlName="baseMilitar"
                    placeholder="Base Militar donde se encuentra"
                    required
                  />

                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('baseMilitar').hasError('required') && solicitudForm.get('baseMilitar').touched
                    "
                  >
                    Por favor diligencie la base militar donde se encuentra el feligrés.
                  </small>
                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('baseMilitar').hasError('minlength') && solicitudForm.get('baseMilitar').touched
                    "
                  >
                    La base militar del feligrés no tiene la longitud mínima permitida.
                  </small>
                </div>
              </div>

              <div *ngIf="txtRazonsolicitud.value == RAZON_SOLICITUD_ID.DISTANCIA_AL_TEMPLO_MAS_CERCANO" class="row">
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group">¿A cuántas horas te encuentras del templo más cercano?</label>
                  <small class="mensajeExplicativo">Rango de 1 a 24 Horas</small>
                  <input type="number" formControlName="horaTemploMasCercano" min="01" max="24" required />

                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('horaTemploMasCercano').hasError('required') &&
                      solicitudForm.get('horaTemploMasCercano').touched
                    "
                  >
                    Campo requerido.
                  </small>
                </div>

                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group obligatorio">Opciones de Transportación</label>

                  <select class="form-select" formControlName="opcionTransporte_id">
                    <option value="" disabled>Opciónes de Transportación</option>
                    <option *ngFor="let transporte of opcionTransporte" [value]="transporte.id">
                      {{ transporte.tipoTransporte }}
                    </option>
                  </select>
                  <small
                    class="form-text text-danger"
                    *ngIf="
                      solicitudForm.get('opcionTransporte_id').hasError('required') &&
                      solicitudForm.get('opcionTransporte_id').touched
                    "
                  >
                    Por favor seleccione una opción de transporte.
                  </small>
                </div>

                <small class="alert alert-primary text-start" role="alert"
                  ><p>
                    <b>Nota:</b> Para ser tenido en cuenta la persona debe vivir 2 horas o más de distancia del templo
                    más cercano y dependerá de la zona geográfica en la que vivas, para efectos de aprobación y cada
                    caso será evaluado de manera independiente por el obrero de cada congregación.
                  </p>
                  <p>
                    (El obrero tiene el deber de agotar todas las alternativas posibles y viables para proveerle la
                    posibilidad de que asista al servicio presencial, de agotar todos los recursos puede solicitar este
                    apartado).
                  </p></small
                >
              </div>

              <div *ngIf="txtRazonsolicitud.value == RAZON_SOLICITUD_ID.ENFERMEDAD">
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group obligatorio">¿Eres una persona encamada? </label>
                  <div class="form-check checkbox-lg">
                    <input
                      [value]="true"
                      class="form-check-input"
                      type="radio"
                      name="personaEncamada"
                      formControlName="personaEncamada"
                    />
                    <label class="form-check-label"> Sí </label>
                  </div>
                  <div class="form-check checkbox-lg">
                    <input
                      [value]="false"
                      class="form-check-input"
                      type="radio"
                      name="personaEncamada"
                      formControlName="personaEncamada"
                    />
                    <label class="form-check-label"> No </label>
                  </div>
                </div>

                <div *ngIf="!!esPersonaEncamada()" class="row">
                  <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label class="input-group obligatorio">Persona encargada</label>
                    <input
                      type="text"
                      formControlName="personaEncargada"
                      name="personaEncargada"
                      class="form-control"
                      placeholder="Nombre Completo de la persona encargada"
                    />

                    <small
                      class="form-text text-danger"
                      *ngIf="
                        solicitudForm.get('personaEncargada').hasError('required') &&
                        solicitudForm.get('personaEncargada').touched
                      "
                    >
                      El nombre de la persona encargada es requerido.
                    </small>
                    <small
                      class="form-text text-danger"
                      *ngIf="
                        solicitudForm.get('personaEncargada').hasError('minlength') &&
                        solicitudForm.get('personaEncargada').touched
                      "
                    >
                      El nombre de la persona encargada no tiene la longitud mínima permitida.
                    </small>
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label class="input-group obligatorio">Parentesco</label>

                    <select class="form-select" formControlName="parentesco_id">
                      <option value="" disabled>Seleccione un parentesco</option>
                      <option *ngFor="let parentesco of parentescos" [value]="parentesco.id">
                        {{ parentesco.nombre }}
                      </option>
                    </select>
                    <small
                      class="form-text text-danger"
                      *ngIf="
                        solicitudForm.get('parentesco_id').hasError('required') &&
                        solicitudForm.get('parentesco_id').touched
                      "
                    >
                      Por favor seleccione el parentesco
                    </small>
                  </div>

                  <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label class="input-group obligatorio">Teléfono de la persona encargada</label>
                    <ngx-intl-tel-input
                      [cssClass]="'form-control'"
                      [preferredCountries]="paisesPreferidos"
                      [enableAutoCountrySelect]="true"
                      [enablePlaceholder]="true"
                      [searchCountryFlag]="true"
                      [searchCountryField]="[buscarPais.Iso2, buscarPais.Name]"
                      [selectFirstCountry]="false"
                      [selectedCountryISO]="paisISO.PuertoRico"
                      [maxLength]="15"
                      [phoneValidation]="true"
                      [separateDialCode]="codigoDeMarcadoSeparado"
                      [numberFormat]="formatoNumeroTelefonico.International"
                      name="celularPersonaEncargada"
                      formControlName="celularPersonaEncargada"
                    >
                    </ngx-intl-tel-input>

                    <small
                      class="form-text text-danger"
                      *ngIf="
                        !solicitudForm.get('celularPersonaEncargada').hasError('required') &&
                        solicitudForm.get('celularPersonaEncargada').invalid &&
                        solicitudForm.get('celularPersonaEncargada').touched
                      "
                    >
                      El número de celular no es válido
                    </small>
                    <small class="form-text text-primary" *ngIf="!solicitudForm.get('celularPersonaEncargada').invalid">
                      El número de celular es válido <i class="fa-solid fa-thumbs-up"></i>
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="
                        solicitudForm.get('celularPersonaEncargada').hasError('celularPersonaEncargada') &&
                        solicitudForm.get('celularPersonaEncargada').touched
                      "
                    >
                      El número de celular es requerido.
                    </small>
                    <small
                      class="form-text text-danger"
                      *ngIf="
                        solicitudForm.get('celularPersonaEncargada').hasError('minlength') &&
                        solicitudForm.get('celularPersonaEncargada').touched
                      "
                    >
                      El número de celular no tiene la longitud mínima permitida.
                    </small>
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label class="input-group obligatorio">Tienes una enfermedad aguda o crónica discapacitante </label>
                    <div class="form-check checkbox-lg">
                      <input
                        [value]="true"
                        class="form-check-input"
                        type="radio"
                        name="enfermedadCronica"
                        formControlName="enfermedadCronica"
                      />
                      <label class="form-check-label"> Sí </label>
                    </div>
                    <div class="form-check checkbox-lg">
                      <input
                        [value]="false"
                        class="form-check-input"
                        type="radio"
                        name="enfermedadCronica"
                        formControlName="enfermedadCronica"
                      />
                      <label class="form-check-label"> No </label>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label class="input-group"
                    >Que enfermedad Padeces <small class="mensajeExplicativo">Opcional</small></label
                  >
                  <input
                    type="text"
                    formControlName="enfermedadQuePadece"
                    name="enfermedadQuePadece"
                    class="form-control"
                    placeholder="Que enfermedad padeces"
                  />
                </div>

                <div class="alert alert-primary text-start" role="alert">
                  <b>Nota:</b> El obrero o encargado de llenar esta solicitud, reconoce que el solicitante padece de una
                  condición crónica de enfermedad que no le permite allegarse al templo más cercano.
                </div>
              </div>
              <hr />
              <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="input-group text-start"
                  >Según la necesidad detectada ¿Qué periodo de tiempo sugieres que se le de acceso al
                  solicitante?:</label
                >
                <input type="date" formControlName="tiempoSugerido" name="tiempoSugerido" class="form-control" />
              </div>

              <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="input-group">Observaciones</label>
                <textarea
                  name="comentario"
                  formControlName="observaciones"
                  name="observaciones"
                  class="form-control"
                  rows="10"
                  cols="40"
                ></textarea>
              </div>

              <hr />

              <div class="form-check form-check-inline px-5">
                <input class="form-check-input" type="checkbox" name="terminos" formControlName="terminos" />
                <label class="form-check-label ms-3">
                  El obrero o encargado de llenar esta solicitud reconoce y da fe de que el solicitante tiene una razón
                  válida y real para presentarla y que los datos suministrados son correctos.</label
                >
              </div>
            </div>

            <div class="float-start">
              <div class="obligatorio text-start mt-2">Campos Obligatorios</div>
              <div class="mt-2"><b>Solicitud creada por:</b> {{ nombreUsuario }}</div>
            </div>

            <button type="submit" class="submit btn btn-primary mt-4 float-end" [disabled]="!solicitudForm.valid">
              <i class="fa fa-save"></i> Crear Solicitud
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
