<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Agregar Congregación</h3>
      </div>
      <div class="card-body">
        <form class="form-signin" autocomplete="off" [formGroup]="congregacionForm" (submit)="crearCongregacion()">
          <div class="form-group">
            <label for="inputCongregacion" class="col-form-label obligatorio">Congregación </label>
            <input
              type="text"
              formControlName="congregacion"
              class="form-control"
              placeholder="Digite el nombre de la Congregación"
            />
          </div>

          <div class="form-group">
            <label for="inputPais" class="col-form-label obligatorio">País </label>
            <select class="form-control" id="inputPais" formControlName="pais_id">
              <option value="" disabled>Seleccione el país</option>
              <option *ngFor="let pais of paises" [value]="pais.id">
                {{ pais.pais }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-label obligatorio">Obrero Encargado </label>
            <select class="form-control" formControlName="idObreroEncargado">
              <option [value]="null" disabled>Seleccione el obrero encargado</option>
              <option [value]="null">Sin obrero Asignado</option>
              <option *ngFor="let obrero of obreros" [value]="obrero.id">
                {{ obrero.primerNombre }} {{ obrero.segundoNombre }} {{ obrero.primerApellido }}
                {{ obrero.segundoApellido }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="inputEmail" class="col-form-label obligatorio">Email </label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="Digite el email de la Congregación"
            />
          </div>

          <div class="form-group">
            <label for="inputPassword" class="col-form-label obligatorio">Password </label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              readonly
              placeholder="El password se genera automáticamente"
            />
          </div>

          <div class="card">
            <button type="submit" class="submit btn btn-primary" [disabled]="congregacionForm.invalid">
              <i class="fa fa-save"></i> Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listado de Congregaciones</h3>
      </div>
      <div class="card-body">
        <div *ngFor="let congregacion of congregaciones">
          <a class="lista">
            <li (click)="buscarCongregacion(congregacion.id.toString())">
              <span class="font-light">{{ congregacion.congregacion }}</span>
            </li></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
