<!-- <div class="buffer"> -->
<div class="shadow p-3 mb-5 bg-white rounded seccion">
  <a class="enlace" routerLink="{{ path }}">
    <div class="ribbon-wrapper ribbon-xl tweak">
      <div class="ribbon text-lg" [ngStyle]="{ 'background-color': color }">
        {{ status }}
      </div>
    </div>
  </a>

  <table class="parte">
    <tr class="fila">
      <td class="around">
        <img class="icono" src="{{ image }}" alt="" />
      </td>
      <td class="nombre">{{ name }}</td>
    </tr>
    <tr>
      <td class="descripcion" colspan="3">
        {{ description }}
      </td>
      <td class="status"></td>
    </tr>
  </table>
</div>
<!-- </div> -->

<!-- <div class="position-relative p-3 bg-gray" style="height: 180px">
  <div class="ribbon-wrapper">
    <div class="ribbon bg-primary">Ribbon</div>
  </div>
  Ribbon Default <br />
  <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
</div> -->
