@if (cargando) {
<div>
  <app-cargando-informacion></app-cargando-informacion>
</div>
} @else {
<div class="card">
  <div class="card-header">
    <h3 class="card-title float-left">Total de solicitudes: {{ solicitudes.length }}</h3>
    <div class="col">
      <div class="text-right mb-4">
        <a class="btn btn-primary" (click)="crearSolicitud()"> <i class="fas fa-user"></i> Nueva Solicitud </a>
      </div>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="table-responsive">
      <p-table
        #dt
        [value]="solicitudes"
        dataKey="id"
        styleClass="p-datatable-striped p-datatable"
        [tableStyle]="{ 'min-width': '75rem' }"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="[
          'id',
          'primerNombre',
          'segundoNombre',
          'primerApellido',
          'segundoApellido',
          'email',
          'pais.nombre',
          'congregacion.nombre',
          'campo.nombre',
          'estadoUltimaSolicitud'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p-button class="redondo p-2" icon="pi pi-refresh" (click)="cargarTodasLasSolicitudes()" />
              <p-button
                class="redondo"
                [outlined]="true"
                icon="pi pi-filter-slash"
                (onClick)="clear(dt)"
                severity="danger"
              />
            </div>
            <div class="flex">
              <p-iconField iconPosition="right" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  #textInput
                  (input)="dt.filterGlobal(textInput.value, 'contains')"
                  placeholder="Buscar..."
                />
              </p-iconField>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" style="width: 10%"># Mita <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="primerNombre" style="width: 15%">
              Nombre <p-sortIcon field="primerNombre"></p-sortIcon>
            </th>

            <th pSortableColumn="email" style="width: 20%">Email <p-sortIcon field="email"></p-sortIcon></th>

            <th pSortableColumn="pais" style="width: 15%">Pais <p-sortIcon field="pais"></p-sortIcon></th>

            <th pSortableColumn="congregacion" style="width: 15%">
              Congregación <p-sortIcon field="congregacion"></p-sortIcon>
            </th>

            <th pSortableColumn="campo" style="width: 15%">Campo <p-sortIcon field="campo"></p-sortIcon></th>

            <th pSortableColumn="estado" style="width: 15%">Estado <p-sortIcon field="estado"></p-sortIcon></th>
            <th style="width: 10%">Acciones</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter
                [showMenu]="false"
                type="text"
                field="id"
                placeholder="Buscar por # Mita"
                ariaLabel="Filtrar por # Mita"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                [showMenu]="false"
                type="text"
                field="primerNombre"
                placeholder="Buscar por Nombre"
                ariaLabel="Filtrar por Nombre"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                [showMenu]="false"
                type="text"
                field="email"
                placeholder="Buscar por Email"
                ariaLabel="Filtrar por Email"
              ></p-columnFilter>
            </th>

            <th>
              <p-columnFilter field="pais" matchMode="in" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect
                    [ngModel]="value"
                    [options]="paises"
                    placeholder="Any"
                    (onChange)="onPaisChange($event.value, dt)"
                    optionLabel="nombre"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="ml-1">{{ option.nombre }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="congregacion" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect
                    [(ngModel)]="selectedCongregaciones"
                    [options]="congregaciones"
                    placeholder="Filtrar por Congregación"
                    (onChange)="onCongregacionChange($event.value, dt)"
                    optionLabel="nombre"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">aquí {{ selectedCongregaciones }} - {{ option.nombre }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="campo" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect
                    [ngModel]="selectedCampos"
                    [options]="campos"
                    placeholder="Filtrar por Campo"
                    (onChange)="onCampoChange($event.value, dt)"
                    optionLabel="nombre"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.nombre }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </th>

            <th>
              <p-columnFilter field="estado" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown
                    [ngModel]="value"
                    [options]="estados"
                    (onChange)="onEstadoChange($event.value, dt)"
                    placeholder="Seleccionar uno"
                    [showClear]="true"
                  >
                    <ng-template let-option pTemplate="item">
                      <p-tag [value]="option.value" [severity]="getSeverity(option.value)" />
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
          <tr>
            <td>{{ solicitud.id }}</td>
            <td>
              {{ solicitud.primerNombre }} {{ solicitud.segundoNombre }} {{ solicitud.primerApellido }}
              {{ solicitud.segundoApellido }}
            </td>

            <td>{{ solicitud.email }}</td>

            <td>
              <span class="badge badge-primary"> {{ solicitud.pais }}</span>
            </td>

            <td>
              <span class="badge badge-danger"> {{ solicitud.congregacion }}</span>
            </td>

            <td>
              <span class="badge badge-success"> {{ solicitud.campo }}</span>
            </td>

            <td>
              <span class="p-column-title">estado</span>
              <p-tag
                [value]="solicitud.estadoUltimaSolicitud"
                [severity]="getSeverity(solicitud.estadoUltimaSolicitud)"
              />
            </td>

            <td>
              <a
                data-toggle="tooltip"
                data-original-title="Más Información"
                class="btn bg-primary ms-1"
                (click)="toggleAccordion(solicitud.id)"
                title="Más Información"
              >
                <i class="fa-solid fa fa-info"></i>
              </a>
              <a
                data-toggle="tooltip"
                data-original-title="Crear Acceso Multimedia"
                class="btn bg-info ms-1"
                (click)="crearAccesoMultimedia(solicitud)"
                title="Crear Acceso Multimedia"
              >
                <i class="fa-solid fa fa-key"></i>
              </a>
              <a
                data-toggle="tooltip"
                data-original-title="Denegar Acceso a Multimedia"
                class="btn bg-danger ms-1"
                (click)="denegarAccesoMultimedia(solicitud)"
                title="Denegar Acceso a Multimedia"
              >
                <i class="fa-solid fa fa-ban"></i>
              </a>
            </td>
          </tr>
          <tr id="collapse{{ solicitud.id }}" class="accordion-collapse collapse">
            <td colspan="7">
              <div class="accordion-body">
                <div class="container-fluid">
                  <div class="row">
                    <!-- Columna 1 -->
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <div *ngIf="solicitud.numeroCelular; else noCelular">
                            <i class="fa-solid fa-phone"></i> <strong>Celular:</strong>
                            <div class="contact-container">
                              <span>
                                {{ solicitud.numeroCelular }}
                                <i class="fas fa-chevron-circle-down toggle-icons" (click)="toggleIcons(solicitud)"></i>
                              </span>
                              <div class="phone-number">
                                <div class="contact-icons" [ngClass]="{ show: selectedContact === solicitud.id }">
                                  <a
                                    href="https://api.whatsapp.com/send?phone={{ solicitud.numeroCelular | whatsapp }}"
                                    target="_blank"
                                  >
                                    <i class="fab fa-whatsapp mx-2"></i>
                                  </a>
                                  <a href="https://t.me/{{ solicitud.numeroCelular | telegram }}" target="_blank">
                                    <i class="fab fa-telegram mx-2"></i>
                                  </a>
                                  <a href="tel:{{ solicitud.numeroCelular }}" target="_blank">
                                    <i class="fa fa-phone mx-2"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <ng-template #noCelular>
                            <span>Sin número de celular</span>
                          </ng-template>
                          <p *ngIf="solicitud.tipoMiembro?.miembro">
                            <i class="fas fa-user-tag icon-black"></i>
                            <strong>Tipo de Miembro:</strong> {{ solicitud.tipoMiembro.miembro }}
                          </p>
                          <p *ngIf="solicitud.ultimaSolicitud?.tiempoSugerido">
                            <i class="fas fa-clock icon-black"></i>
                            <strong>Tiempo Sugerido:</strong>
                            {{ formatTiempoSugerido(solicitud.ultimaSolicitud.tiempoSugerido) }}
                          </p>
                          <p *ngIf="solicitud.ultimaSolicitud?.createdAt">
                            <i class="fas fa-calendar-alt icon-black"></i>
                            <strong>Fecha de la solicitud:</strong> {{ solicitud.ultimaSolicitud.createdAt | date }}
                          </p>
                          <p *ngIf="solicitud.ultimaSolicitud?.usuarioQueRegistra">
                            <i class="fas fa-user-tie icon-black"></i>
                            <strong>Registrado por:</strong>
                            {{ solicitud.ultimaSolicitud.usuarioQueRegistra.primerNombre }}
                            {{ solicitud.ultimaSolicitud.usuarioQueRegistra.segundoNombre }}
                            {{ solicitud.ultimaSolicitud.usuarioQueRegistra.primerApellido }}
                            {{ solicitud.ultimaSolicitud.usuarioQueRegistra.segundoApellido }}
                          </p>
                        </div>
                      </div>
                    </div>

                    <!-- Columna 2 -->
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <p *ngIf="solicitud.ultimaSolicitud?.razonSolicitud?.solicitud">
                            <i class="fas fa-question-circle icon-black"></i>
                            <strong>Razón de la solicitud:</strong>
                            {{ solicitud.ultimaSolicitud.razonSolicitud.solicitud }}
                          </p>
                          <p *ngIf="solicitud.ultimaSolicitud?.otraRazon">
                            <i class="fas fa-info-circle icon-black"></i>
                            <strong>Otra Razón:</strong> {{ solicitud.ultimaSolicitud.otraRazon }}
                          </p>
                          <p *ngIf="solicitud.direccion">
                            <i class="fas fa-map-marker-alt icon-black"></i>
                            <strong>Dirección de residencia:</strong>
                            {{ solicitud.direccion }}, {{ solicitud.ciudadDireccion }},
                            {{ solicitud.departamentoDireccion }}, {{ solicitud.paisDireccion }}
                          </p>
                        </div>
                      </div>
                    </div>

                    <!-- Columna 3 -->
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <p *ngIf="solicitud.ultimaSolicitud?.observaciones">
                            <i class="fas fa-flag icon-black"></i>
                            <strong>Observaciones:</strong> {{ solicitud.ultimaSolicitud.observaciones }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

}
