<app-cargando-informacion *ngIf="!!cargando"></app-cargando-informacion>

<div class="card" *ngIf="!cargando">
  <div class="card-header">
    <h3 class="card-title float-left">Total de solicitudes: {{ solicitudesDeAccesos.length }}</h3>

    <div class="col">
      <div class="text-right mb-4">
        <a class="btn btn-primary" (click)="crearSolicitud()"> <i class="fas fa-user"></i> Nueva Solicitud </a>
      </div>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="w50">Item</th>
            <th>Nombre</th>
            <th>Celular</th>
            <th class="w100">Email</th>
            <th>Pais</th>
            <th>Congregación</th>
            <th class="w100">Login</th>
            <th>Estado</th>
            <th class="w150">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of solicitudesDeAccesos">
            <td>
              {{ solicitud.id }}
              <p><td class="link-primary pointer" (click)="masInformacion(solicitud.id)">Ver Más</td></p>
            </td>

            <td>
              {{ solicitud.usuario.primerNombre }} {{ solicitud.usuario.segundoNombre }} <br />
              {{ solicitud.usuario.primerApellido }} {{ solicitud.usuario.segundoApellido }}
            </td>

            <td>{{ solicitud?.usuario.numeroCelular }}</td>

            <td>{{ solicitud?.usuario.email }}</td>

            <td>{{ solicitud?.usuario.usuarioCongregacionPais.pais }}</td>

            <td>{{ solicitud?.usuario.usuarioCongregacionCongregacion.congregacion }}</td>

            <td>{{ solicitud?.usuario?.login }}</td>

            <td>
              <span class="badge badge-primary" *ngIf="!!solicitud?.estado">Activo</span>
              <span class="badge badge-danger" *ngIf="!solicitud?.estado">Deshabilitado</span>
            </td>

            <td>
              <a
                *ngIf="!solicitud?.usuario?.login"
                data-toggle="tooltip"
                data-original-title="Crear Acceso"
                class="btn bg-info"
                (click)="crearAccesoMultimedia(solicitud)"
                ><i class="fa fa-plus"></i
              ></a>
              <a
                *ngIf="!!solicitud?.usuario?.login"
                data-toggle="tooltip"
                data-original-title="Editar Acceso"
                class="btn bg-warning ms-1"
                (click)="editarAccesoMultimedia(solicitud)"
                ><i class="fa fa-pen-to-square"></i
              ></a>
              <a
                *ngIf="!!solicitud?.estado"
                data-toggle="tooltip"
                data-original-title="Eliminar Acceso"
                class="btn bg-danger ms-1"
                (click)="eliminarAccesoMultimedia(solicitud)"
                ><i class="fa fa-trash"></i
              ></a>
              <a
                *ngIf="!solicitud?.estado && !!solicitud?.usuario.login"
                data-toggle="tooltip"
                data-original-title="Activar Acceso"
                class="btn bg-secondary ms-1"
                (click)="activarAccesoMultimedia(solicitud)"
                ><i class="fa fa-check"></i
              ></a>
              <a
                data-toggle="tooltip"
                data-original-title="Denegar Acceso"
                class="btn bg-danger ms-1"
                (click)="denegarAccesoMultimedia(solicitud)"
                ><i class="fa fa-x"></i
              ></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <th class="w50">id</th>
          <th>Nombre</th>
          <th>Celular</th>
          <th class="w100">Email</th>
          <th>Pais</th>
          <th>Congregación</th>
          <th class="w100">Login</th>
          <th>Estado</th>
          <th class="w150">Acciones</th>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-4 mb-4 ml-2">
    <button class="btn btn-secondary">Anterior</button>
    &nbsp;
    <button class="btn btn-secondary">Siguiente</button>
  </div>
</div>
