@if (cargando) {
<div>
  <app-cargando-informacion></app-cargando-informacion>
</div>
} @else {
<div class="card">
  <div class="card-header">
    <h3 class="card-title float-left">Total de solicitudes: {{ solicitudesDeAccesos.length }}</h3>
    <div class="col">
      <div class="text-right mb-4">
        <a class="btn btn-primary" (click)="crearSolicitud()"> <i class="fas fa-user"></i> Nueva Solicitud </a>
      </div>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="table-responsive">
      <p-table
        #dt
        [value]="solicitudesDeAccesos"
        styleClass="p-datatable-striped"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="[
          'id',
          'primerNombre',
          'segundoNombre',
          'primerApellido',
          'segundoApellido',
          'numeroCelular',
          'email',
          'usuarioCongregacion.congregacion.congregacion',
          'usuarioCongregacion.campocampo'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="d-flex align-items-center justify-content-between">
            <button class="btn btn-primary" (click)="cargarSolicitudesPendientes(usuarioId)">
              <i class="fas fa-sync-alt"></i>
            </button>
            <div class="flex">
              <p-iconField iconPosition="right" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  #textInput
                  (input)="dt.filterGlobal(textInput.value, 'contains')"
                  placeholder="Buscar..."
                />
              </p-iconField>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id"># Mita <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="primerNombre">Nombre <p-sortIcon field="primerNombre"></p-sortIcon></th>
            <th pSortableColumn="numeroCelular">Celular <p-sortIcon field="numeroCelular"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="usuarioCongregacion.congregacion.congregacion">
              Congregación <p-sortIcon field="usuarioCongregacion.congregacion.congregacion"></p-sortIcon>
            </th>
            <th>Acciones</th>
          </tr>
          <tr>
            <th>
              <input
                pInputText
                class="mita-column"
                type="text"
                #txtMita
                (input)="dt.filterGlobal(txtMita.value, 'contains')"
                placeholder="# Mita"
              />
            </th>
            <th>
              <input
                pInputText
                type="text"
                #txtxNombre
                (input)="dt.filterGlobal(txtxNombre.value, 'contains')"
                placeholder="Filtrar Nombre"
              />
            </th>
            <th>
              <input
                pInputText
                type="text"
                #txtcelular
                (input)="dt.filterGlobal(txtcelular.value, 'contains')"
                placeholder="Filtrar Celular"
              />
            </th>
            <th>
              <input
                pInputText
                type="text"
                #txtEmail
                (input)="dt.filterGlobal(txtEmail.value, 'contains')"
                placeholder="Filtrar Email"
              />
            </th>
            <th>
              <input
                pInputText
                type="text"
                #txtCongregacion
                (input)="dt.filterGlobal(txtCongregacion.value, 'contains')"
                placeholder="Filtrar Congregación"
              />
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
          <tr>
            <td class="mita-column">{{ solicitud.id }}</td>
            <td>
              {{ solicitud.primerNombre }} {{ solicitud.segundoNombre }} {{ solicitud.primerApellido }}
              {{ solicitud.segundoApellido }}
            </td>
            <td>
              @if (solicitud.numeroCelular) {
              <div>
                <div class="contact-container">
                  <span>
                    {{ solicitud.numeroCelular }}
                    <i class="fas fa-chevron-circle-down toggle-icons" (click)="toggleIcons(solicitud)"></i>
                  </span>
                  <div class="phone-number">
                    <div class="contact-icons" [ngClass]="{ show: selectedContact === solicitud.id }">
                      <a
                        href="https://api.whatsapp.com/send?phone={{ solicitud.numeroCelular | whatsapp }}"
                        target="_blank"
                      >
                        <i class="fab fa-whatsapp mx-2"></i>
                      </a>
                      <a href="https://t.me/{{ solicitud.numeroCelular | telegram }}" target="_blank">
                        <i class="fab fa-telegram mx-2"></i>
                      </a>
                      <a href="tel:{{ solicitud.numeroCelular | telegram }}" target="_blank">
                        <i class="fa fa-phone mx-2"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              } @else {
              <span>Sin número de celular</span>
              }
            </td>
            <td>{{ solicitud.email }}</td>
            <td>
              <span class="badge badge-danger">{{ solicitud.usuarioCongregacion.congregacion?.congregacion }}</span>
              <span class="badge badge-success">{{ solicitud.usuarioCongregacion.campo?.campo }}</span>
            </td>
            <td>
              <a
                data-toggle="tooltip"
                data-original-title="Más Información"
                class="btn bg-primary ms-1"
                (click)="toggleAccordion(solicitud.id)"
                title="Más Información"
              >
                <i class="fa-solid fa fa-info"></i>
              </a>
              <a
                data-toggle="tooltip"
                data-original-title="Crear Acceso Multimedia"
                class="btn bg-info ms-1"
                (click)="crearAccesoMultimedia(solicitud)"
                title="Crear Acceso Multimedia"
              >
                <i class="fa-solid fa fa-key"></i>
              </a>
              <a
                data-toggle="tooltip"
                data-original-title="Denegar Acceso a Multimedia"
                class="btn bg-danger ms-1"
                (click)="denegarAccesoMultimedia(solicitud)"
                title="Denegar Acceso a Multimedia"
              >
                <i class="fa-solid fa fa-ban"></i>
              </a>
            </td>
          </tr>
          <tr id="collapse{{ solicitud.id }}" class="accordion-collapse collapse">
            <td colspan="7">
              <div class="accordion-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          @if (solicitud.tipoMiembro.miembro) {
                          <p>
                            <i class="fas fa-user-tag icon-black"></i> <strong>Tipo de Miembro:</strong>
                            {{ solicitud.tipoMiembro.miembro }}
                          </p>
                          } @if (solicitud.solicitudes[solicitud.solicitudes.length - 1].tiempoSugerido) {
                          <p>
                            <i class="fas fa-clock icon-black"></i> <strong>Tiempo Sugerido:</strong>
                            {{
                              formatTiempoSugerido(
                                solicitud.solicitudes[solicitud.solicitudes.length - 1].tiempoSugerido
                              )
                            }}
                          </p>
                          } @if (solicitud.solicitudes[solicitud.solicitudes.length - 1].createdAt) {
                          <p>
                            <i class="fas fa-calendar-alt icon-black"></i> <strong>Fecha de la solicitud:</strong>
                            {{ solicitud.solicitudes[solicitud.solicitudes.length - 1].createdAt | date }}
                          </p>
                          } @if (solicitud.solicitudes[solicitud.solicitudes.length - 1].usuarioQueRegistra) {
                          <p>
                            <i class="fas fa-user-tie icon-black"></i> <strong>Registrado por:</strong>
                            {{
                              solicitud.solicitudes[solicitud.solicitudes.length - 1].usuarioQueRegistra.primerNombre
                            }}
                            {{
                              solicitud.solicitudes[solicitud.solicitudes.length - 1].usuarioQueRegistra.segundoNombre
                            }}
                            {{
                              solicitud.solicitudes[solicitud.solicitudes.length - 1].usuarioQueRegistra.primerApellido
                            }}
                            {{
                              solicitud.solicitudes[solicitud.solicitudes.length - 1].usuarioQueRegistra.segundoApellido
                            }}
                          </p>
                          }
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          @if ( solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.razonSolicitud?.solicitud ) {
                          <p>
                            <i class="fas fa-question-circle icon-black"></i> <strong>Razón de la solicitud:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.razonSolicitud?.solicitud }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.otraRazon) {
                          <p>
                            <i class="fas fa-info-circle icon-black"></i> <strong>Otra Razón:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.otraRazon }}
                          </p>
                          } @if (solicitud.direccion) {
                          <p>
                            <i class="fas fa-map-marker-alt icon-black"></i>
                            <strong>Dirección de residencia:</strong> {{ solicitud.direccion }},
                            {{ solicitud.ciudadDireccion }}, {{ solicitud.departamentoDireccion }},
                            {{ solicitud.paisDireccion }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.personaEncargada) {
                          <p>
                            <i class="fas fa-user-friends icon-black"></i> <strong>Persona Encargada:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.personaEncargada }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.enfermedadCronica) {
                          <p>
                            <i class="fas fa-heartbeat icon-black"></i> <strong>Enfermedad Crónica:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.enfermedadCronica }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.enfermedadQuePadece) {
                          <p>
                            <i class="fas fa-procedures icon-black"></i> <strong>Enfermedad Que padece:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.enfermedadQuePadece }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.celularPersonaEncargada) {
                          <p>
                            <i class="fas fa-user-md icon-black"></i> <strong>Celular Persona Encargada:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.celularPersonaEncargada }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.personaEncamada) {
                          <p>
                            <i class="fas fa-bed icon-black"></i> <strong>Persona Encamada:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.personaEncamada }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.parentesco?.nombre) {
                          <p>
                            <i class="fas fa-users icon-black"></i> <strong>Parentezco:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.parentesco?.nombre }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.tiempoDistancia) {
                          <p>
                            <i class="fas fa-clock icon-black"></i> <strong>Tiempo Distancia:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.tiempoDistancia }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.congregacionCercana) {
                          <p>
                            <i class="fas fa-map-marker-alt icon-black"></i> <strong>Congregación Cercana:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.congregacionCercana }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.horaTemploMasCercano) {
                          <p>
                            <i class="fas fa-road icon-black"></i> <strong>Distancia Templo más cercano:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.horaTemploMasCercano }} horas
                          </p>
                          } @if ( solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.opcionTransporte
                          ?.tipoTransporte ) {
                          <p>
                            <i class="fas fa-bus icon-black"></i> <strong>Opción de Transporte:</strong>
                            {{
                              solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.opcionTransporte?.tipoTransporte
                            }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.paisDondeEstudia) {
                          <p>
                            <i class="fas fa-globe icon-black"></i> <strong>País donde estudia:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.paisDondeEstudia }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.ciudadDondeEstudia) {
                          <p>
                            <i class="fas fa-city icon-black"></i> <strong>Ciudad donde estudia:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.ciudadDondeEstudia }}
                          </p>
                          } @if ( solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.duracionDelPeriodoDeEstudio
                          ) {
                          <p>
                            <i class="fas fa-calendar-alt icon-black"></i>
                            <strong>Duración del periodo de estudio:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.duracionDelPeriodoDeEstudio }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.tipoEstudio?.estudio) {
                          <p>
                            <i class="fas fa-book icon-black"></i> <strong>Tipo de estudio:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.tipoEstudio?.estudio }}
                          </p>
                          } @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.baseMilitar) {
                          <p>
                            <i class="fas fa-shield-alt icon-black"></i> <strong>Base Militar:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.baseMilitar }}
                          </p>
                          }
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          @if (solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.observaciones) {
                          <p>
                            <i class="fas fa-flag icon-black"></i> <strong>Observaciones:</strong>
                            {{ solicitud?.solicitudes[solicitud.solicitudes.length - 1]?.observaciones }}
                          </p>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
}
