.form {
  width: 80%;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
}
td {
  width: 50%;
  padding-top: 10px;
}

.submit {
  background-color: #0b65c2;
  border-radius: 25px;
  border-style: none;
}

.button {
  width: 125px;
  text-align: right;
  margin-left: 85%;
}
