<div class="card text-center p-3">
  <div class="text-center">
    <img
      src="https://kromatest.pw/sistemacmi/assets/images/multimedia.png"
      alt="CMAR Multimedia"
      style="text-align: center; width: 400px"
    />
  </div>

  <h3 *ngIf="!!solicitudValida; else noValido" class="card-title">Cuenta verificada correctamente</h3>
  <a href="https://www.congregacionmita.org/"> <span class="pointer">Cerrar Ventana</span></a>

  <ng-template #noValido>
    <h4>
      <p>No pudo ser verificada la cuenta de correo electrónico</p>
      <p>
        Para mayor información contactarse a
        <a href="mailto:multimedia@congregacionmita.com"> multimedia@congregacionmita.com</a>
      </p>
    </h4>
  </ng-template>
</div>
