.nested-menu {
  .list-group-item {
    cursor: pointer;
    background-color: red;
  }
  .nested {
    list-style-type: none;
  }
  ul.submenu {
    display: none;
    height: 0;
  }
  & .expand {
    ul.submenu {
      display: block;
      list-style-type: none;
      height: auto;
      li {
        a {
          padding: 10px;
          display: block;
        }
      }
    }
  }
}

a {
  color: #1976d2;
  text-decoration: none;
  background-color: transparent;
}

.fondo {
  background-color: transparent;
  padding-top: 10px;
}
