<!-- User profile -->
<div class="user-profile mt-4">
  <!-- User profile image -->
  <div class="profile-img">
    <a [routerLink]="Rutas.PERFIL"><img src="assets/images/users/perfil.png" alt="user" /></a>
  </div>
  <!-- User profile text-->
  <div class="profile-text">
    <h5>{{ primerNombre }} {{ segundoNombre }} {{ primerApellido }} {{ segundoApellido }}</h5>

    <div>
      <a [routerLink]="Rutas.PERFIL" class="" data-toggle="tooltip" title="Email">
        <i class="fa fa-user"></i> Mi Perfil
      </a>
    </div>
    <div>
      <a (click)="logout()" class="pointer" data-toggle="tooltip" title="Logout">
        <i class="mdi mdi-power"></i> Cerrar Sesión
      </a>
    </div>
  </div>
</div>
<!-- End User profile text-->
<li class="nav-devider"></li>
<!-- Sidebar navigation-->
<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <!-- First level menu -->
    <li *ngFor="let sidebarnavItem of sidebarnavItems">
      <ng-container
        class="fondo pointer"
        [class.active]="showMenu === sidebarnavItem.title"
        [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'"
        *appPermisos="sidebarnavItem.role"
      >
        <div class="nav-small-cap pointer" *ngIf="sidebarnavItem.extralink === true">
          {{ sidebarnavItem.title }}
        </div>

        <a
          [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
          [ngClass]="[sidebarnavItem.class]"
          class="pointer"
          *ngIf="!sidebarnavItem.extralink"
          (click)="addExpandClass(sidebarnavItem.title)"
        >
          <i [ngClass]="[sidebarnavItem.icon]"></i>
          <!-- nombre -->
          <span class="hide-menu">
            {{ sidebarnavItem.title }}
            <!-- numerito -->
            <span class="label label-rouded label-themecolor">
              {{ sidebarnavItem.submenu.length }}
            </span>
          </span>
        </a>
        <!-- Second level menu -->
        <ul
          class="collapse"
          *ngIf="sidebarnavItem.submenu.length > 0"
          [ngClass]="{ in: showMenu === sidebarnavItem.title }"
        >
          <li
            class=""
            *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
            [class.active]="showSubMenu === sidebarnavSubItem.title"
            [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'active'"
          >
            <a
              [routerLink]="sidebarnavSubItem.submenu.length > 0 ? null : [sidebarnavSubItem.path]"
              [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'router-link-active'"
              [ngClass]="[sidebarnavSubItem.class]"
              *ngIf="!sidebarnavSubItem.extralink"
              class="pointer"
              (click)="addActiveClass(sidebarnavSubItem.title)"
            >
              <i [ngClass]="[sidebarnavSubItem.icon]"></i>
              {{ sidebarnavSubItem.title }}
            </a>

            <!-- Third level menu -->
            <ul
              class="collapse"
              *ngIf="sidebarnavSubItem.submenu.length > 0"
              [ngClass]="{ in: showSubMenu === sidebarnavSubItem.title }"
            >
              <li
                *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                routerLinkActive="active"
                [ngClass]="[sidebarnavSubsubItem.class]"
              >
                <a
                  [routerLink]="[sidebarnavSubsubItem.path]"
                  *ngIf="!sidebarnavSubsubItem.extralink"
                  [routerLinkActive]="sidebarnavSubsubItem.submenu.length > 0 ? '' : 'router-link-active'"
                >
                  <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                  {{ sidebarnavSubsubItem.title }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</nav>
<!-- End Sidebar navigation -->
