<div class="card animate__animated animate__fadeIn">
  <div class="card-header">
    <h3 class="card-title float-left">{{ titulo }}</h3>
  </div>

  <div class="card-body">
    <div class="row p-4">
      <div
        *ngFor="let item of serviciosYvigilias; index as i"
        class="card-body col-sm-12 col-md-12 col-lg-6 text-center p2"
      >
        <div class="mb-5">
          <h3>{{ item.titulo }}</h3>
          <h4>{{ item.fecha }}</h4>

          <div class="card-body col-sm-12 col-md-12 col-lg-6 text-center ratio ratio-16x9">
            <iframe
              [src]="item.link | vimeoUrlPipe"
              width="400"
              height="255"
              frameborder="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
