.form {
  width: 80%;
  text-align: center;
}


.submit {
  background-color: #0b65c2;
  border-radius: 25px;
  border-style: none;
}

.space {
  width: 100%;
}

.auto {
  border: 10px;
  border-width: 20px;
  border-color: gray;
  background-color: red;
}



.espacio {
  height: 500px;
}



