<app-informacion-usuario
  [campos]="campos"
  [codigoDeMarcadoSeparado]="false"
  [congregaciones]="congregaciones"
  [dosis]="dosis"
  [estadoCivil]="estadoCivil"
  [fuenteDeIngresos]="fuenteDeIngresos"
  [generos]="generos"
  [gradosAcademicos]="gradosAcademicos"
  [ministerios]="ministerios"
  [nacionalidades]="nacionalidades"
  [paises]="paises"
  [rolCasa]="rolCasa"
  [tipoMiembros]="tipoMiembros"
  [tiposDeDocumentos]="tiposDeDocumentos"
  [tiposEmpleos]="tiposEmpleos"
  [vacunas]="vacunas"
  [voluntariados]="voluntariados"
  [usuario]="usuario"
  [usuarioFuenteDeIngresos]="arrayUsuarioData('usuarioFuenteIngreso')"
  [usuarioMinisterios]="arrayUsuarioData('usuarioMinisterio')"
  [usuarioVoluntariados]="arrayUsuarioData('usuarioVoluntariado')"
  (operacion)="
    usuario
      ? realizarOperacion(OPERACION.ACTUALIZAR_USUARIO, $event)
      : realizarOperacion(OPERACION.CREAR_USUARIO, $event)
  "
></app-informacion-usuario>
