<app-informacion-usuario
  [generos]="generos"
  [estadoCivil]="estadoCivil"
  [paises]="paises"
  [rolCasa]="rolCasa"
  [congregaciones]="congregaciones"
  [campos]="campos"
  [vacunas]="vacunas"
  [dosis]="dosis"
  [nacionalidades]="nacionalidades"
  [fuenteDeIngresos]="fuenteDeIngresos"
  [gradosAcademicos]="gradosAcademicos"
  [tiposEmpleos]="tiposEmpleos"
  [ministerios]="ministerios"
  [voluntariados]="voluntariados"
  [tiposDeDocumentos]="tiposDeDocumentos"
  [generos]="generos"
  [tipoMiembros]="tipoMiembros"
  [codigoDeMarcadoSeparado]="false"
  (usuarioNuevo)="realizarOperacion(OPERACION.CREAR_USUARIO, $event)"
></app-informacion-usuario>
