<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Usuario</h3>
      </div>

      <div class="card-body">
        <form class="form-signin" autocomplete="off" [formGroup]="usuarioForm" (Submit)="guardarUsuario()">
          <div class="form-group">
            <label>Primer Nombre:</label>
            <input
              type="text"
              formControlName="primerNombre"
              class="form-control"
              inputmode="text"
              placeholder="Primer Nombre"
            />
          </div>

          <div class="form-group">
            <label>Segundo Nombre:</label>

            <input
              type="text"
              formControlName="segundoNombre"
              class="form-control"
              inputmode="text"
              placeholder="Segundo Nombre"
            />
          </div>

          <div class="form-group">
            <label>Primer Apellido:</label>

            <input
              type="text"
              formControlName="primerApellido"
              class="form-control"
              inputmode="text"
              placeholder="Primer Apellido"
            />
          </div>

          <div class="form-group">
            <label>Segundo Apellido:</label>

            <input
              type="text"
              formControlName="segundoApellido"
              class="form-control"
              inputmode="text"
              placeholder="Segundo Apellido"
            />
          </div>

          <div class="input-group mb-3">
            <label class="space">Inicial:</label>
            <select class="form-control" formControlName="inicial">
              <option value="Sr">Sr</option>
              <option value="Sra">Sra</option>
              <option value="Srta">Srta</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <label class="space">Estado Civil:</label>
            <select class="form-control" formControlName="EstadoCivil">
              <option value="Casadx">Casadx</option>
              <option value="Solterx">Solterx</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <label class="space">Rol en casa:</label>
            <select class="form-control" formControlName="Rol">
              <option value="PadreEncargado">Padre/Madre/Encargado</option>
              <option value="Hijx">Hijx</option>
            </select>
          </div>

          <div class="form-group">
            <label>Ministerio:</label>

            <app-select-multiple></app-select-multiple>
          </div>

          <div class="form-group">
            <label>Nacionalidad:</label>

            <!-- <input
              type="text"
              formControlName="nacionalidad"
              class="form-control"
              inputmode="text"
              placeholder="Nacionalidad"
            /> -->

            <app-auto-complete></app-auto-complete>
          </div>

          <div class="form-group">
            <label>Congregación:</label>

            <app-auto-complete></app-auto-complete>
          </div>

          <!-- <div class="form-group">
      <label>País de Recidencia:</label>

      <select class="form-control" formControlName="pais_id">
        <option value="" disabled>Seleccione el género</option>
        <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.nombre }}</option>
      </select>
    </div> -->

          <!-- <div class="form-group">
      <label>Tipo de Documento:</label>

      <select class="form-control" formControlName="id_tipoDocumento">
        <option value="" disabled>Seleccione un tipo de documento</option>
        <option *ngFor="let tipoDocumento of tipoDocumentos" [value]="tipoDocumento.id">
          {{ tipoDocumento.nombre }}
        </option>
      </select>
    </div> -->

          <div class="form-group">
            <label>Número de Documento:</label>

            <input
              type="text"
              formControlName="numeroDocumento"
              class="form-control"
              inputmode="text"
              placeholder="Número de documento"
            />
          </div>

          <div class="form-group">
            <label>Fecha de Nacimiento:</label>

            <input
              type="date"
              class="form-control"
              formControlName="fechaNacimiento"
              placeholder="Fecha de Nacimiento"
            />
          </div>

          <div class="form-group">
            <label>Dirección:</label>

            <input type="text" class="form-control" formControlName="Direccion" placeholder="Dirección" />
          </div>

          <div class="form-group">
            <label>Código Postal:</label>

            <input type="number" class="form-control" formControlName="CodigoPostal" placeholder="Código Postal" />
          </div>

          <div class="form-group">
            <label>Correo Electrónico:</label>

            <input
              type="email"
              formControlName="email"
              class="form-control"
              name="email"
              placeholder="Correo Electrónico"
            />
          </div>

          <div class="form-group">
            <label>Teléfono en casa:</label>

            <table>
              <tr>
                <td class="indicativo">
                  <select class="form-control" formControlName="indicativo">
                    <option value="1">+1 (Estados Unidos)</option>
                    <option value="57">+57 (Colombia)</option>
                  </select>
                </td>
                <td>
                  <input
                    type="number"
                    formControlName="telefonoEnCasa"
                    class="form-control"
                    placeholder="Teléfono en Casa"
                  />
                </td>
              </tr>
            </table>
          </div>

          <div class="form-group">
            <label>Celular:</label>

            <table>
              <tr>
                <td class="indicativo">
                  <select class="form-control" formControlName="indicativo">
                    <option value="1">+1 (Estados Unidos)</option>
                    <option value="57">+57 (Colombia)</option>
                  </select>
                </td>
                <td>
                  <input type="number" formControlName="celular" class="form-control" placeholder="Celular" />
                </td>
              </tr>
            </table>
          </div>

          <div class="input-group mb-3">
            <label class="space">Vacuna:</label>
            <select class="form-control" formControlName="vacuna">
              <option value="Jensen">Jensen</option>
              <option value="Pfizer">Pfizer</option>
              <option value="Moderna">Moderna</option>
              <option value="n/a">n/a</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <label class="space">Dosis:</label>
            <select class="form-control" formControlName="dosis">
              <option value="n/a">n/a</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>

          <!-- <div class="form-group">
      <label>Genero:</label>

      <select class="form-control" formControlName="genero_id">
        <option value="" disabled>Seleccione el género</option>
        <option *ngFor="let genero of generos" [value]="genero.id">{{ genero.nombre }}</option>
      </select>
    </div> -->

          <div class="card-footer">
            <button type="submit" class="submit btn btn-primary" (click)="subirImagen()">
              <i class="fa fa-save"></i> Registro
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Carnet de Vacunación</h3>
      </div>

      <div class="card-body">
        <div class="text-center">
          <!-- <img *ngIf="!imagenTemporal" [src]="imagenCarnet" class="img-thumbnail" />
        <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="img-thumbnail" /> -->
          <img src="./assets/images/users/perfil.png" class="img-thumbnail" />
        </div>

        <div class="mt-4">
          <!-- <input type="file" (change)="cambiarImagen($event.target.files[0])" /> -->
          <br />
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="submit btn btn-primary" (click)="subirImagen()">
          <i class="fa fa-save"></i> Subir Carnet
        </button>
      </div>
    </div>
  </div>
</div>
