
.submit {
  background-color: #0b65c2;
  border-radius: 25px;
  border-style: none;
}

.descargar {
  background-color: #0b65c2;
  border-radius: 5px;
  border-style: none;
}

.button {
  width: 125px;
  text-align: right;
  margin-left: 85%;
}

.observaciones {
  height: 200px;
  text-align: center;
}
