<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Agregar Ministerio</h3>
      </div>
      <div class="card-body">
        <form class="form-signin" autocomplete="off" [formGroup]="ministerioForm" (submit)="crearMinisterio()">
          <div class="form-group">
            <label for="inputMinisterio" class="col-form-label">Ministerio:</label>
            <input
              type="text"
              formControlName="ministerio"
              class="form-control"
              placeholder="Digite el nombre del ministerio"
              />
            </div>

            <div class="card">
              <button type="submit" class="submit btn btn-primary" [disabled]="ministerioForm.invalid">
                <i class="fa fa-save"></i> Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado de Ministerios</h3>
        </div>
        <div class="card-body">
          @for (ministerio of ministerios; track ministerio) {
            <div>
              <a class="lista">
                <li (click)="buscarMinisterio(ministerio.id.toString())">
                  <span class="font-light">{{ ministerio.ministerio }}</span>
                </li></a
                >
              </div>
            }
          </div>
        </div>
      </div>
    </div>
