<div class="form">
  <h2>Informe Contables</h2>
  <form class="form-signin">
    <table>
      <tr>
        <td>
          <label>Fecha</label>
        </td>
        <td>
          <input type="date" ngModel class="form-control" id="" name="" placeholder="" required />
        </td>
      </tr>

      <tr>
        <td>
          <label>Diezmos Recogidos</label>
        </td>
        <td>
          <input type="number" step="any" ngModel class="form-control" id="" name="" placeholder="$" required />
        </td>
      </tr>

      <tr>
        <td>
          <label>Transferencias</label>
        </td>
        <td>
          <input type="number" step="any" ngModel class="form-control" id="" name="" placeholder="$" required />
        </td>
      </tr>

      <tr>
        <td>
          <label>Restrictos</label>
        </td>
        <td>
          <input type="number" step="any" ngModel class="form-control" id="" name="" placeholder="$" required />
        </td>
      </tr>

      <tr>
        <td>
          <label>No Restrictos</label>
        </td>
        <td>
          <input type="number" step="any" ngModel class="form-control" id="" name="" placeholder="$" required />
        </td>
      </tr>

      <tr>
        <td>
          <label>Depositos de Actividades</label>
        </td>
        <td>
          <input type="number" step="any" ngModel class="form-control" id="" name="" placeholder="$" required />
        </td>
      </tr>

      <tr>
        <td>
          <label>Observaciones</label>
        </td>
        <td>
          <textarea id="" name="" ngModel class="form-control" rows="5"></textarea>
        </td>
      </tr>
    </table>

    <br />
    <div class="button">
      <button class="w-100 btn btn-lg btn-primary submit" type="submit">Guardar</button>
    </div>
  </form>
</div>
