<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Informe Contable</h3>
      </div>
      <div class="card-body px-5">
        <div class="form mx-auto">
          <form class="form-signin" autocomplete="off" [formGroup]="contabilidadForm">
            <div class="form-group row">
              <label for="inputSobres" class="col-sm-2 col-form-label">Sobres</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  formControlName="sobres"
                  class="form-control"
                  id="inputSobres"
                  placeholder="Cantidad de sobres"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="inputTransferencia" class="col-sm-2 col-form-label">Transferencia</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  formControlName="transferencia"
                  class="form-control"
                  id="inputTransferencia"
                  placeholder="$ 0.00"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="inputRestrictos" class="col-sm-2 col-form-label">Restrictos</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  formControlName="restrictos"
                  class="form-control"
                  id="inputRestrictos"
                  placeholder="$ 0.00"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="inputNoRestrictos" class="col-sm-2 col-form-label">No Restrictos</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  formControlName="noRestrictos"
                  class="form-control"
                  id="inputNoRestrictos"
                  placeholder="$ 0.00"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="inputDepositoActividades" class="col-sm-2 col-form-label">Depósito de Actividades</label>
              <div class="col-sm-10">
                <input
                  type="number"
                  formControlName="depositoActividades"
                  class="form-control"
                  id="inputDepositoActividades"
                  placeholder="Déposito de actividades"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="guardarInformeContable()">
          <i class="fa fa-save"></i> Guardar
        </button>
      </div>
    </div>
  </div>
</div>
