<section class="content">
  <app-cargando-informacion *ngIf="cargando"></app-cargando-informacion>

  <div class="card animate__animated animate__fadeIn animate__slow" *ngIf="!cargando">
    <div class="card-header">
      <div class="row">
        <div class="col-8 px-4 pt-4">
          <h3 class="card-title">Total de Congregaciones ({{ congregaciones.length }})</h3>
          <p>Congregaciones registradas en la aplicación</p>
        </div>
        <div class="col">
          <div class="float-end p-4">
            <a class="btn btn-primary" (click)="crearCongregacion()">
              <i class="fas fa-plus"></i> Crear Congregación
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body mx-auto">
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th class="w100">item</th>
            <th class="w400">Nombre</th>
            <th class="w400">Obrero Encargado</th>
            <th>Pais</th>
            <th class="w200">Estado</th>
            <th class="w200">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let congregacion of congregaciones; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ congregacion.congregacion }}</td>

            <td>{{ buscarObrero(congregacion.idObreroEncargado) }}</td>

            <td>{{ buscarPais(congregacion.pais_id) }}</td>

            <td>
              <span *ngIf="congregacion.estado" class="badge badge-primary">Activo</span>
              <span *ngIf="!congregacion.estado" class="badge badge-danger">Deshabilitado</span>
            </td>

            <td>
              <a
                *ngIf="!!congregacion.estado"
                data-toggle="tooltip"
                data-original-title="Editar"
                class="btn bg-info"
                (click)="actualizarCongregacion(congregacion.id)"
                ><i class="fas fa-pencil-alt ml-1"></i
              ></a>
              <a
                *ngIf="!!congregacion.estado"
                data-toggle="tooltip"
                data-original-title="Borrar"
                class="btn bg-danger ml-1"
                (click)="borrarCongregacion(congregacion)"
                ><i class="fas fa-trash-alt"></i
              ></a>
              <a
                *ngIf="!congregacion.estado"
                data-toggle="tooltip"
                data-original-title="Activar"
                class="btn bg-secondary ml-1"
                (click)="activarCongregacion(congregacion)"
                ><i class="fas fa-check-square"></i
              ></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th class="w100">item</th>
            <th>Nombre</th>
            <th>Obrero Encargado</th>
            <th>Pais</th>
            <th class="w100">Estado</th>
            <th class="w100">Acciones</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
