<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Nuevo Campo</h3>
      </div>
      <div class="card-body">
        <form class="form-signin" autocomplete="off" [formGroup]="campoForm">
          <div class="form-group">
            <label>Campo:</label>
            <input type="text" formControlName="campo" class="form-control" placeholder="Campo" />
          </div>

          <div class="form-group">
            <label class="col-form-label">Congregación</label>
            <select class="form-control" id="inputCongregacion" formControlName="congregacion_id">
              <option value="" disabled>Seleccione congregación</option>
              <option *ngFor="let congregacion of congregaciones" [value]="congregacion.id">
                {{ congregacion.congregacion }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-label">Obrero Encargado</label>
            <select class="form-control" formControlName="idObreroEncargado">
              <option value="" disabled>Seleccione el obrero encargado</option>
              <option *ngFor="let obrero of obreros" [value]="obrero.id">
                {{ obrero.primerNombre }} {{ obrero.segundoNombre }} {{ obrero.primerApellido }}
                {{ obrero.segundoApellido }}
              </option>
            </select>
          </div>

          <div class="card">
            <button type="submit" class="submit btn btn-primary" (click)="crearCampo()" [disabled]="campoForm.invalid">
              <i class="fa fa-save"></i> Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Listado de Campos</h3>
      </div>
      <div class="card-body">
        <div *ngFor="let campo of campos">
          <a class="lista">
            <li (click)="buscarCampo(campo.id.toString())">
              <span class="font-light">{{ campo.campo }}</span>
            </li></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
