<div class="card">
  <div class="card-header">
    <div class="card-header">
      <h3 class="card-title text-center">Reporte General</h3>
    </div>
    <div class="card-body text-center">
      <iframe
        title="Reporte CMAR"
        width="1024"
        height="612"
        src="https://app.powerbi.com/view?r=eyJrIjoiMjgwNWQzMWEtYTM0Yi00ZTc5LWE2ZTctNmI2YjMyYzgyNmE4IiwidCI6IjA4YjViMTkzLWI5YmItNDNmMi05MjJiLTdlMjk0OGE0MDhlOSIsImMiOjR9&pageName=0847d5c803d31696447b"
        frameborder="0"
        allowFullScreen="true"
      ></iframe>
    </div>
  </div>
</div>
