@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

::placeholder {
  color: #999;
  font-size: 12px;
  font-weight: 100;
  opacity: 0.5;
}

input#phone::placeholder {
  color: #999;
  font-size: 11px;
  font-weight: 100;
  opacity: 0.5 !important;
}

.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

.pointer {
  cursor: pointer;
}

.avatar {
  border-radius: 100%;
  width: 50px;
}

.iti {
  position: relative;
  display: block !important;
}

a.lista {
  color: #7d8b92;
  cursor: pointer;
  text-decoration: none;
}

a.lista :hover {
  color: #0b65c2;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
