<div class="card">
  <div class="card-body p-5">
    <div class="bodyPassword">
      <form [formGroup]="passwordUsuarioForm" autocomplete="off" class="form-signin" (submit)="cambiarPassword()">
        <h2 class="mb-3 text-center">Cambio de Contraseña</h2>

        <div class="form-outline mb-3">
          <input
            type="password"
            formControlName="password"
            class="form-control form-control-lg"
            placeholder="Contraseña Antigua"
            />
          </div>

          <div class="form-outline mb-3">
            <input
              type="password"
              formControlName="passwordNuevoUno"
              class="form-control form-control-lg"
              placeholder="Contraseña Nueva"
              />
            </div>

            <div class="form-outline mb-3">
              <input
                type="password"
                formControlName="passwordNuevoDos"
                class="form-control form-control-lg"
                placeholder="Confirma la contraseña nueva"
                />
              </div>

              @if (passwordNoValidos()) {
                <small class="form-text text-danger"> Las contraseñas deben ser iguales </small>
              }

              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-secondary" (click)="irAlInicio()">Cancelar</button>

                <button type="submit" class="btn btn-primary" [disabled]="passwordUsuarioForm.invalid">Continuar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
