@if (!!cargando) {
<app-cargando-informacion></app-cargando-informacion>
}

<app-ver-censo
  [usuarios]="usuarios"
  [totalUsuarios]="totalUsuarios"
  [nombrePais]="nombreCongregacionPais || ''"
  [nombreArchivo]="nombreArchivo"
  (crearUsuario)="crearUsuario()"
  (activarUsuario)="activarUsuario($event)"
  (actualizaUsuario)="actualizarUsuario($event)"
  (borrarUsuario)="borrarUsuario($event)"
  (enviarEmail)="enviarEmail($event)"
  (transferirUsuario)="realizarTransferencia($event)"
  (transcenderUsuario)="transcenderUsuario($event)"
></app-ver-censo>
