<div class="form">
  <h2>Informe Logros</h2>
  <form class="form-signin">
    <table>
      <tr>
        <td>
          <label>Logro</label>
        </td>
        <td>
          <input type="text" ngModel class="form-control" id="" name="" placeholder="" required />
        </td>
      </tr>

      <tr>
        <td>
          <label>Observaciones</label>
        </td>
        <td>
          <textarea id="" name="" ngModel class="form-control" rows="5"></textarea>
        </td>
      </tr>
    </table>

    <br />
    <div class="button">
      <button class="w-100 btn btn-lg btn-primary submit" type="submit">Guardar</button>
    </div>
  </form>
</div>
