// Estilos personalizados para el componente actividad-economica
.card {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.d-flex {
  display: flex;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
