<section class="content">
  <!-- Cargando información -->
  @if (cargando) {
  <app-cargando-informacion></app-cargando-informacion>
  } @if (!cargando && accesosQr.length > 0) {
  <div class="card">
    <!-- Single clean card-header -->
    <div class="card-header d-flex justify-content-between align-items-center bg-white text-dark">
      <div class="col-8 px-4 pt-4">
        <h3 class="card-title">Total de Accesos QR ({{ accesosQr.length }})</h3>
        <p>Accesos registrados mediante código QR</p>
      </div>
      <div class="d-flex align-items-center">
        <!-- Botón Crear accesoqr -->
        <button
          class="btn btn-primary mx-1 d-flex align-items-center"
          (click)="crearAccesoqr()"
          [ngClass]="{ 'd-md-inline-block': true, 'd-sm-none': true }"
        >
          <i class="fas fa-user"></i>
          <span class="d-none d-md-inline-block ms-2">Generar QR</span>
        </button>

        <!-- Botón Mostrar/Ocultar Filtros -->
        <button
          class="btn mx-1 d-flex align-items-center"
          [ngClass]="{ 'btn-secondary': isFiltrosVisibles, 'btn-outline-secondary': !isFiltrosVisibles }"
          (click)="esconderFiltros()"
        >
          <i class="fa fa-filter"></i>
          <span class="d-none d-md-inline-block ms-2">
            {{ isFiltrosVisibles ? 'Ocultar Filtros' : 'Ver Filtros' }}
          </span>
        </button>
      </div>
    </div>

    @if (isFiltrosVisibles) {
    <div>
      @if (accesosQr.length > 0) {
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="selectPais">País</label>
              <select
                id="selectPais"
                class="form-select form-control"
                (ngModelChange)="filtrarPais($event)"
                [(ngModel)]="originalPais"
              >
                <option value="">Seleccione País</option>
                @for (pais of paises; track pais) {
                <option [ngValue]="pais">{{ pais.pais }}</option>
                }
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="selectCampo">Ciudad</label>
              <select
                id="selectCampo"
                class="form-select form-control"
                (ngModelChange)="filtrarCongregacion($event)"
                [(ngModel)]="originalCongre"
              >
                <option value="">Seleccione Campo</option>
                <option value="">Sin Campo</option>
                @for (congre of congregacionesFiltradas; track congre) {
                <option>{{ congre.congregacion }}</option>
                }
              </select>
            </div>
          </div>

          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="form-group">
              <label>Buscar</label>
              <input
                type="search"
                class="form-control"
                [(ngModel)]="filterText"
                placeholder="Buscar..."
                name="filtro"
              />
            </div>
          </div>

          <div class="col-md-3 d-flex align-items-end">
            <div class="form-group w-100">
              <button class="btn btn-primary w-100" (click)="resetFiltros()">Reset Filtros</button>
            </div>
          </div>
        </div>
      </div>
      } @else {
      <div class="card">
        <div class="card-body">No existen feligreses registrados en su congregación a cargo</div>
      </div>
      }
    </div>
    }

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped mx-auto">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Dispositivo</th>
              <th>País</th>
              <th>Ciudad</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            @for (acceso of accesosQrFiltrados; track $index) {
            <tr>
              <td>{{ acceso.qrAcceso?.nombre }}</td>
              <td>{{ acceso.dispositivo }}</td>
              <td>{{ acceso.pais }}</td>
              <td>{{ acceso.ciudad }}</td>
              <td>{{ acceso.createdAt | date : 'short' }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  } @if (!cargando && accesosQr.length === 0) {
  <div class="text-center text-gray-500 mt-6">
    <p>No se encontraron accesos registrados.</p>
  </div>
  }
</section>
